---
title: IA-4 IDENTIFIER MANAGEMENT
owner: Security
---

Common device identifiers include, for example, media access control (MAC), Internet protocol (IP) addresses, or device-unique token identifiers. Management of individual identifiers is not applicable to shared information system accounts (e.g., guest and anonymous accounts). Typically, individual identifiers are the user names of the information system accounts assigned to those individuals. In such instances, the account management activities of AC-2 use account names provided by IA-4. This control also addresses individual identifiers not necessarily associated with information system accounts (e.g., identifiers used in physical security control databases accessed by badge reader systems for access to information systems). Preventing reuse of identifiers implies preventing the assignment of previously used individual, group, role, or device identifiers to different individuals, groups, roles, or devices.

##<a id='description'></a>Control Description

The organization manages information system identifiers by:

<ol type="a">
  <li>Receiving authorization from [Assignment: organization-defined personnel or roles] to assign an individual, group, role, or device identifier;</li>
  <li>Selecting an identifier that identifies an individual, group, role, or device;</li>
  <li>Assigning the identifier to the intended individual, group, role, or device;</li>
  <li>Preventing reuse of identifiers for [Assignment: organization-defined time period]; and</li>
  <li>Disabling the identifier after [Assignment: organization-defined time period of inactivity].</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


