---
title: IA-6 AUTHENTICATOR FEEDBACK
owner: Security
---

##<a id='compliance'></a>PCF Compliance

All PCF authentication functions support a compliant operational mode.  
Graphical user interfaces, as we as CLI endpoints provide credential masking capabilities if and as needed.
It is a deployer responsibility to leverage these features as appropriate.
<hr>

##<a id='description'></a>Control Description

The information system obscures feedback of authentication information during the authentication process to protect the information from possible exploitation/use by unauthorized individuals.

##<a id='supplemental'></a>Supplemental Guidance

The feedback from information systems does not provide information that would allow unauthorized individuals to compromise authentication mechanisms. For some types of information systems or system components, for example, desktops/notebooks with relatively large monitors, the threat (often referred to as shoulder surfing) may be significant. For other types of systems or components, for example, mobile devices with 2-4 inch screens, this threat may be less significant, and may need to be balanced against the increased likelihood of typographic input errors due to the small keyboards. Therefore, the means for obscuring the authenticator feedback is selected accordingly. Obscuring the feedback of authentication information includes, for example, displaying asterisks when users type passwords into input devices, or displaying feedback for a very limited time before fully obscuring it.
