---
title: IA-9 SERVICE IDENTIFICATION AND AUTHENTICATION
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The organization identifies and authenticates [Assignment: organization-defined information system services] using [Assignment: organization-defined security safeguards].

##<a id='supplemental'></a>Supplemental Guidance

This control supports service-oriented architectures and other distributed architectural approaches requiring the identification and authentication of information system services. In such architectures, external services often appear dynamically. Therefore, information systems should be able to determine in a dynamic manner, if external providers and associated services are authentic. Safeguards implemented by organizational information systems to validate provider and service authenticity include, for example, information or code signing, provenance graphs, and/or electronic signatures indicating or including the sources of services.
