---
title: IA - Identification and Authentication Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./ia-1.html">IA-1</a></td>
    <td>IDENTIFICATION AND AUTHENTICATION POLICY AND PROCEDURES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-2.html">IA-2</a></td>
    <td>IDENTIFICATION AND AUTHENTICATION (ORGANIZATIONAL USERS)</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-3.html">IA-3</a></td>
    <td>DEVICE IDENTIFICATION AND AUTHENTICATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-4.html">IA-4</a></td>
    <td>IDENTIFIER MANAGEMENT</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-5.html">IA-5</a></td>
    <td>AUTHENTICATOR MANAGEMENT</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-6.html">IA-6</a></td>
    <td>AUTHENTICATOR FEEDBACK</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-7.html">IA-7</a></td>
    <td>CRYPTOGRAPHIC MODULE AUTHENTICATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-8.html">IA-8</a></td>
    <td>IDENTIFICATION AND AUTHENTICATION (NON-ORGANIZATIONAL USERS)</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-9.html">IA-9</a></td>
    <td>SERVICE IDENTIFICATION AND AUTHENTICATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-10.html">IA-10</a></td>
    <td>ADAPTIVE IDENTIFICATION AND AUTHENTICATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ia-11.html">IA-11</a></td>
    <td>RE-AUTHENTICATION</td>
    <td></td>
  </tr>
</table>