---
title: AC-9 PREVIOUS LOGON (ACCESS) NOTIFICATION
owner: Security
---

This control is applicable to logons to information systems via human user interfaces and logons to systems that occur in other types of architectures (e.g., service-oriented architectures).

##<a id='description'></a>Control Description

The information system notifies the user, upon successful logon (access) to the system, of the date and time of the last logon (access).

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


