---
title: Access Control
owner: Security
---

  <table class="nice">
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
	    <td>AC-1</td>
	    <td>ACCESS CONTROL POLICY AND PROCEDURES</td>
	    <td>PCF features satisfy AC-1. PCF inherits these requirements from the administrator.</td>
	    <td>All dash-1 requirements are the administrator's responsibility. Pivotal may be able to provide guidance to customers who are creating or updating documentation, but this documentation is unique to your business goals.</td>
    </tr>
    <tr>
    	<td>AC-1(a)</td>
    	<td>ACCESS CONTROL POLICY AND PROCEDURES</td>
    	<td>PCF features satisfy AC-1(a). PCF provides the user roles capability.</td>
    	<td>You must map PCF roles to staff business functions. For more information, see <a href="https://docs.pivotal.io/pivotalcf/concepts/roles.html">Orgs, Spaces, Roles, and Permissions</a> and <a href="https://docs.pivotal.io/pivotalcf/customizing/opsman-users.html">Creating and Managing Ops Manager User Accounts</a>.</td>
    </tr>
    <tr>
    	<td>AC-2</td>
    	<td>ACCOUNT MANAGEMENT</td>
    	<td>PCF features satisfy AC-2.</td>
    	<td>Policy and procedures are the administrator's responsibility. APIs are available to enable automation and reporting for account management.</td>
    </tr>
  </table>