---
title: NIST Controls&#58; Family A
owner: Security
---

This topic contains on how Pivotal Cloud Foundry (PCF) complies with some families of NIST controls. 

The families represented in this topic are:

* Access Control
* Awareness and Training
* Audit and Accountability
* Security Assessment and Authorization 

<script>
function openDocs(evt, docsName) {
    // Declare all variables
    var i, tabcontent, tablinks;
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(docsName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openDocs(event, 'tab1')">Access Control</button>
  <button class="tablinks" onclick="openDocs(event, 'tab2')">Awareness and Training</button>
  <button class="tablinks" onclick="openDocs(event, 'tab3')">Audit and Accountability</button>
  <button class="tablinks" onclick="openDocs(event, 'tab4')">Security Assessment and Authorization</button>
</div>

<!-- Tab content -->
<div id="tab1" class="tabcontent">
  <h3>Access Control</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab2" class="tabcontent">
  <h3>Awareness and Training</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab3" class="tabcontent">
  <h3>Audit and Accountability</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab4" class="tabcontent">
  <h3>Security Assessment and Authorization</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>