---
title: NIST Controls: Families P - R
owner: Security
---

<script>
function openDocs(evt, docsName) {
    // Declare all variables
    var i, tabcontent, tablinks;
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(docsName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openDocs(event, 'tab1')">Physical and Environmental Protection</button>
  <button class="tablinks" onclick="openDocs(event, 'tab2')">Planning</button>
  <button class="tablinks" onclick="openDocs(event, 'tab3')">Program Management</button>
  <button class="tablinks" onclick="openDocs(event, 'tab4')">Personnel Security</button>
  <button class="tablinks" onclick="openDocs(event, 'tab5')">Risk Assessment</button>
</div>

<!-- Tab content -->
<div id="tab1" class="tabcontent">
  <h3>Physical and Environmental Protection</h3>
  <table>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab2" class="tabcontent">
  <h3>Planning</h3>
  <table>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab3" class="tabcontent">
  <h3>Program Management</h3>
  <table>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab4" class="tabcontent">
  <h3>Personnel Security</h3>
  <table>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab5" class="tabcontent">
  <h3>Risk Assessment</h3>
  <table>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>