---
title: NIST Controls: Families I - M
owner: Security
---

<script>
function openDocs(evt, docsName) {
    // Declare all variables
    var i, tabcontent, tablinks;
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(docsName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openDocs(event, 'tab1')">Identification and Authorization</button>
  <button class="tablinks" onclick="openDocs(event, 'tab2')">Incident Response</button>
  <button class="tablinks" onclick="openDocs(event, 'tab3')">Maintenance</button>
  <button class="tablinks" onclick="openDocs(event, 'tab4')">Media Protection</button>
</div>

<!-- Tab content -->
<div id="tab1" class="tabcontent">
  <h3>Identification and Authorization</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab2" class="tabcontent">
  <h3>Incident Response</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab3" class="tabcontent">
  <h3>Maintenance</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="tab4" class="tabcontent">
  <h3>Media Protection</h3>
  <table>
    <th>Name</th>
    <th>Title</th>
    <th>PCF Compliance</th>
    <th>Details</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>