---
title: NIST Controls and Pivotal Cloud Foundry
owner: Security
---

NIST controls are security and privacy controls for information systems and organizations. They are intended to protect information and data systems from threats, including malicious third parties, structural failures, and human error. Adherence to NIST controls can also provide rudimentary disaster recovery protocols, although your organization should always have a dedicated disaster recovery plan to address your unique needs.

Pivotal Cloud Foundry (PCF) adheres in varying degrees to some NIST controls. These topics display the relevant controls, sorted alphabetically by family. 

* <a href="./family-a.html" class="subnav"></a> NIST Controls: Family A
* <a href="./family-c.html" class="subnav"></a> NIST Controls: Family C
* <a href="./family-i-m.html" class="subnav"></a> NIST Controls: Families I - M
* <a href="./family-p-r.html" class="subnav"></a> NIST Controls: Families P-R
* <a href="./family-s.html" class="subnav"></a> NIST Controls: Family S