---
title: Assessment of Pivotal Cloud Foundry to NIST SP 800-53(r4) Controls
owner: Security
---

Many organizations are required to reference a standardized control framework when assessing the security and compliance of their information systems.
Standardized control frameworks are intended to provide a model for how to protect information and data systems from threats, including malicious third parties, structural failures, and human error.
One very comprehensive and commonly referenced framework is NIST Special Publication 800-53(r4). 
Adherence to these controls is required for many government agencies in the United States, as well as for many private enterprises that operate within regulated markets, such as healthcare or finance. 
For example, the HIPAA regulations that govern the required protections for Personal Health Information (PHI)
may be cross-referenced to the NIST SP 800-53(r4) control set. 

These pages provide an assessment of the Pivotal Cloud Foundry PAS platform against the NIST SP 800-53(r4) controls, 
and provides guidance for how deployers may achieve compliance when using a shared responsibility model. Responsibility for any particular control may be assigned to the underlying IaaS infratructure, the PAS platform, the deployed application, or the organization.

This document covers the Pivotal Cloud Foundry PAS, and assumes the use of BOSH and Ops Manager. In addition, we assume the platform has been deployed in a manner consistent with the corresponding IaaS reference architecture.

## Control Families ##

* <a href="ac/index.html">AC - Access Control</a>
* <a href="au/index.html">AU - Audit and Accountability</a>
* <a href="at/index.html">AT - Awareness and Training</a>
* <a href="cm/index.html">CM - Configuration Management</a>
* <a href="cp/index.html">CP - Contingency Planning</a>
* <a href="ia/index.html">IA - Identification and Authentication</a>
* <a href="ir/index.html">IR - Incident Response</a>
* <a href="ma/index.html">MA - Maintenance</a>
* <a href="mp/index.html">MP - Media Protection</a>
* <a href="ps/index.html">PS - Personnel Security</a>
* <a href="pe/index.html">PE - Physical and Environmental Protection</a>
* <a href="pl/index.html">PL - Planning</a>
* <a href="pm/index.html">PM - Program Management</a>
* <a href="ra/index.html">RA - Risk Assessment</a>
* <a href="ca/index.html">CA - Security Assessment and Authorization</a>
* <a href="sc/index.html">SC - System and Communications Protection</a>
* <a href="si/index.html">SI - System and Information Integrity</a>
* <a href="sa/index.html">SA - System and Services Acquisition</a>

