---
title: NIST Controls and Pivotal Cloud Foundry
owner: Security
---

NIST controls are security and privacy controls for information systems and organizations. They are intended to protect information and data systems from threats, including malicious third parties, structural failures, and human error. Adherence to NIST controls can also provide rudimentary disaster recovery protocols, although your organization should always have a dedicated disaster recovery plan to address your unique needs.

Pivotal Cloud Foundry (PCF) adheres in varying degrees to some NIST controls. These topics display the relevant controls, sorted alphabetically by family. 

* <a href="./access-control.html" class="subnav">Access Control</a>
* <a href="./awareness-training.html" class="subnav">Awareness and Training</a>
* <a href="./audit-accountability.html" class="subnav">Audit and Accountability</a>
* <a href="./assess-auth.html" class="subnav">Security Assessment and Authorization</a>
* <a href="./config-management.html" class="subnav">Configuration Management</a>
* <a href="./contingency.html" class="subnav">Contingency Planning</a>
* <a href="./ident-auth.html" class="subnav">Identification and Authorization</a>
* <a href="./incident-response.html" class="subnav">Incident Response</a>
* <a href="./maintenance.html" class="subnav">Maintenance</a>
* <a href="./media-protection.html" class="subnav">Media Protection</a>
* <a href="./phys-env-protection.html" class="subnav">Physical and Environmental Protection</a>
* <a href="./planning.html" class="subnav">Planning</a>
* <a href="./program-management.html" class="subnav">Program Management</a>
* <a href="./pers-security.html" class="subnav">Personnel Security</a>
* <a href="./risk-assess.html" class="subnav">Risk Assessment</a>
* <a href="./sys-serv-acquisition.html" class="subnav">System and Services Acquisition</a>
* <a href="./sys-comm-protection.html" class="subnav">System and Communication Protection</a>
* <a href="./sys-info-integrity.html" class="subnav">System and Information Integrity</a>