---
title: NIST Controls and Pivotal Cloud Foundry
owner: Security
---

NIST controls are security and privacy controls for information systems and organizations. They are intended to protect information and data systems from threats, including malicious third parties, structural failures, and human error. Adherence to NIST controls can also provide rudimentary disaster recovery protocols, although your organization should always have a dedicated disaster recovery plan to address your unique needs.

Pivotal Cloud Foundry (PCF) adheres in varying degrees to some NIST controls. These topics display the relevant controls, sorted by family. 

## Control Families ##

* <a href="ac/index.html">AC - Access Control</a>
* <a href="au/index.html">AU - Audit and Accountability</a>
* <a href="at/index.html">AT - Awareness and Training</a>
* <a href="cm/index.html">CM - Configuration Management</a>
* <a href="cp/index.html">CP - Contingency Planning</a>
* <a href="ia/index.html">IA - Identification and Authentication</a>
* <a href="ir/index.html">IR - Incident Response</a>
* <a href="ma/index.html">MA - Maintenance</a>
* <a href="mp/index.html">MP - Media Protection</a>
* <a href="ps/index.html">PS - Personnel Security</a>
* <a href="pe/index.html">PE - Physical and Environmental Protection</a>
* <a href="pl/index.html">PL - Planning</a>
* <a href="pm/index.html">PM - Program Management</a>
* <a href="ra/index.html">RA - Risk Assessment</a>
* <a href="ca/index.html">CA - Security Assessment and Authorization</a>
* <a href="sc/index.html">SC - System and Communications Protection</a>
* <a href="si/index.html">SI - System and Information Integrity</a>
* <a href="sa/index.html">SA - System and Services Acquisition</a>

