---
title: PL - Planning Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
  </tr>
  <tr>
    <td><a href="./pl-1.html">PL-1</a></td>
    <td>SECURITY PLANNING POLICY AND PROCEDURES</td>
  </tr>
  <tr>
    <td><a href="./pl-2.html">PL-2</a></td>
    <td>SYSTEM SECURITY PLAN</td>
  </tr>
  <tr>
    <td><a href="./pl-3.html">PL-3</a></td>
    <td>SYSTEM SECURITY PLAN UPDATE</td>
  </tr>
  <tr>
    <td><a href="./pl-4.html">PL-4</a></td>
    <td>RULES OF BEHAVIOR</td>
  </tr>
  <tr>
    <td><a href="./pl-5.html">PL-5</a></td>
    <td>PRIVACY IMPACT ASSESSMENT</td>
  </tr>
  <tr>
    <td><a href="./pl-6.html">PL-6</a></td>
    <td>SECURITY-RELATED ACTIVITY PLANNING</td>
  </tr>
  <tr>
    <td><a href="./pl-7.html">PL-7</a></td>
    <td>SECURITY CONCEPT OF OPERATIONS</td>
  </tr>
  <tr>
    <td><a href="./pl-8.html">PL-8</a></td>
    <td>INFORMATION SECURITY ARCHITECTURE</td>
  </tr>
  <tr>
    <td><a href="./pl-9.html">PL-9</a></td>
    <td>CENTRAL MANAGEMENT</td>
  </tr>
</table>