---
title: PL-1 SECURITY PLANNING POLICY AND PROCEDURES
owner: Security
---

##<a id='compliance'></a>PCF Compliance

All `xx-1` requirements are the responsibility of the deployer. The PCF product feature set is sufficient to satisfy the technical requirements implied in PL-1. Pivotal may be able to provide guidance to customers who are creating or updating documentation, but this documentation is unique to the deployer's mission and business goals.
<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops, documents, and disseminates to [Assignment: organization-defined personnel or roles]:</li>
  <ol>
    <li>A security planning policy that addresses purpose, scope, roles, responsibilities, management commitment, coordination among organizational entities, and compliance; and</li>
    <li>Procedures to facilitate the implementation of the security planning policy and associated security planning controls; and</li>
  </ol>
  <li>Reviews and updates the current:</li>
  <ol>
    <li>Security planning policy [Assignment: organization-defined frequency]; and</li>
    <li>Security planning procedures [Assignment: organization-defined frequency].</li>
  </ol>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

This control addresses the establishment of policy and procedures for the effective implementation of selected security controls and control enhancements in the PL family. Policy and procedures reflect applicable federal laws, Executive Orders, directives, regulations, policies, standards, and guidance. Security program policies and procedures at the organization level may make the need for system-specific policies and procedures unnecessary. The policy can be included as part of the general information security policy for organizations or conversely, can be represented by multiple policies reflecting the complex nature of certain organizations. The procedures can be established for the security program in general and for particular information systems, if needed. The organizational risk management strategy is a key factor in establishing policy and procedures.
