---
title: PL-2 SYSTEM SECURITY PLAN
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with the requirements defined in this control is a deployer responsibility.

Pivotal provides [reference architecture](https://docs.pivotal.io/pivotalcf/refarch/index.html) documents for each supported IaaS.
This documentation may be helpful to an organization that needs to develop a system security plan.
Specifically, the reference architecture documents describe the network topology and perimeter of a PCF deployment.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops a security plan for the information system that:</li>
  <ol>
    <li>Is consistent with the organization's enterprise architecture;</li>
    <li>Explicitly defines the authorization boundary for the system;</li>
    <li>Describes the operational context of the information system in terms of missions and business processes;</li>
    <li>Provides the security categorization of the information system including supporting rationale;</li>
    <li>Describes the operational environment for the information system and relationships with or connections to other information systems;</li>
    <li>Provides an overview of the security requirements for the system;</li>
    <li>Identifies any relevant overlays, if applicable;</li>
    <li>Describes the security controls in place or planned for meeting those requirements including a rationale for the tailoring decisions; and</li>
    <li>Is reviewed and approved by the authorizing official or designated representative prior to plan implementation;</li>
  </ol>
  <li>Distributes copies of the security plan and communicates subsequent changes to the plan to [Assignment: organization-defined personnel or roles];</li>
  <li>Reviews the security plan for the information system [Assignment: organization-defined frequency];</li>
  <li>Updates the plan to address changes to the information system/environment of operation or problems identified during plan implementation or security control assessments; and</li>
  <li>Protects the security plan from unauthorized disclosure and modification.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Security plans relate security requirements to a set of security controls and control enhancements. Security plans also describe, at a high level, how the security controls and control enhancements meet those security requirements, but do not provide detailed, technical descriptions of the specific design or implementation of the controls/enhancements. Security plans contain sufficient information (including the specification of parameter values for assignment and selection statements either explicitly or by reference) to enable a design and implementation that is unambiguously compliant with the intent of the plans and subsequent determinations of risk to organizational operations and assets, individuals, other organizations, and the Nation if the plan is implemented as intended. Organizations can also apply tailoring guidance to the security control baselines in Appendix D and CNSS Instruction 1253 to develop overlays for community-wide use or to address specialized requirements, technologies, or missions/environments of operation (e.g., DoD-tactical, Federal Public Key Infrastructure, or Federal Identity, Credential, and Access Management, space operations). Appendix I provides guidance on developing overlays. Security plans need not be single documents; the plans can be a collection of various documents including documents that already exist. Effective security plans make extensive use of references to policies, procedures, and additional documents (e.g., design and implementation specifications) where more detailed information can be obtained. This reduces the documentation requirements associated with security programs and maintains security-related information in other established management/operational areas related to enterprise architecture, system development life cycle, systems engineering, and acquisition. For example, security plans do not contain detailed contingency plan or incident response plan information but instead provide explicitly or by reference, sufficient information to define what needs to be accomplished by those plans.
