---
title: PL-6 SECURITY-RELATED ACTIVITY PLANNING
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Compliance with the requirements defined in this control is a deployer responsibility.

<hr>

##<a id='description'></a>Control Description

[Withdrawn: Incorporated into PL-2].

##<a id='supplemental'></a>Supplemental Guidance
