---
title: PL-7 SECURITY CONCEPT OF OPERATIONS
owner: Security
---

The security CONOPS may be included in the security plan for the information system or in other system development life cycle-related documents, as appropriate. Changes to the CONOPS are reflected in ongoing updates to the security plan, the information security architecture, and other appropriate organizational documents (e.g., security specifications for procurements/acquisitions, system development life cycle documents, and systems/security engineering documents).

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops a security Concept of Operations (CONOPS) for the information system containing at a minimum, how the organization intends to operate the system from the perspective of information security; and</li>
  <li>Reviews and updates the CONOPS [Assignment: organization-defined frequency].</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


