---
title: PL-8 INFORMATION SECURITY ARCHITECTURE
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with the requirements defined in this control is a deployer responsibility.

Deployers should refer to the product documentation provided by Pivotal, including the [PAS reference architecture](https://docs.pivotal.io/pivotalcf/refarch/index.html) for the appropriate IaaS, as well as the [operations](https://docs.pivotal.io/pivotalcf/opsguide/index.html) and [administration](https://docs.pivotal.io/pivotalcf/adminguide/index.html) guides. 

The full set of product documentation is available on the [Pivotal Documentation](https://docs.pivotal.io/) pages.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops an information security architecture for the information system that:</li>
  <ol>
    <li>Describes the overall philosophy, requirements, and approach to be taken with regard to protecting the confidentiality, integrity, and availability of organizational information;</li>
    <li>Describes how the information security architecture is integrated into and supports the enterprise architecture; and</li>
    <li>Describes any information security assumptions about, and dependencies on, external services;</li>
  </ol>
  <li>Reviews and updates the information security architecture [Assignment: organization-defined frequency] to reflect updates in the enterprise architecture; and</li>
  <li>Ensures that planned information security architecture changes are reflected in the security plan, the security Concept of Operations (CONOPS), and organizational procurements/acquisitions.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

This control addresses actions taken by organizations in the design and development of information systems. The information security architecture at the individual information system level is consistent with and complements the more global, organization-wide information security architecture described in PM-7 that is integral to and developed as part of the enterprise architecture. The information security architecture includes an architectural description, the placement/allocation of security functionality (including security controls), security-related information for external interfaces, information being exchanged across the interfaces, and the protection mechanisms associated with each interface. In addition, the security architecture can include other important security-related information, for example, user roles and access privileges assigned to each role, unique security requirements, the types of information processed, stored, and transmitted by the information system, restoration priorities of information and information system services, and any other specific protection needs. In today's modern architecture, it is becoming less common for organizations to control all information resources. There are going to be key dependencies on external information services and service providers. Describing such dependencies in the information security architecture is important to developing a comprehensive mission/business protection strategy. Establishing, developing, documenting, and maintaining under configuration control, a baseline configuration for organizational information systems is critical to implementing and maintaining an effective information security architecture. The development of the information security architecture is coordinated with the Senior Agency Official for Privacy (SAOP)/Chief Privacy Officer (CPO) to ensure that security controls needed to support privacy requirements are identified and effectively implemented. PL-8 is primarily directed at organizations (i.e., internally focused) to help ensure that organizations develop an information security architecture for the information system, and that the security architecture is integrated with or tightly coupled to the enterprise architecture through the organization-wide information security architecture. In contrast, SA-17 is primarily directed at external information technology product/system developers and integrators (although SA-17 could be used internally within organizations for in-house system development). SA-17, which is complementary to PL-8, is selected when organizations outsource the development of information systems or information system components to external entities, and there is a need to demonstrate/show consistency with the organization's enterprise architecture and information security architecture.
