---
title: MA-4 NONLOCAL MAINTENANCE
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with the requirements defined in this control are a deployer responsibility.

Nonlocal maintenance is interpreted to mean performing remote support via an authenticated network connection.
Operators have the option to enable SSH login to PAS VMs using either the BOSH CLI, and/or via any standard SSH client.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Approves and monitors nonlocal maintenance and diagnostic activities;</li>
  <li>Allows the use of nonlocal maintenance and diagnostic tools only as consistent with organizational policy and documented in the security plan for the information system;</li>
  <li>Employs strong authenticators in the establishment of nonlocal maintenance and diagnostic sessions;</li>
  <li>Maintains records for nonlocal maintenance and diagnostic activities; and</li>
  <li>Terminates session and network connections when nonlocal maintenance is completed.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Nonlocal maintenance and diagnostic activities are those activities conducted by individuals communicating through a network, either an external network (e.g., the Internet) or an internal network. Local maintenance and diagnostic activities are those activities carried out by individuals physically present at the information system or information system component and not communicating across a network connection. Authentication techniques used in the establishment of nonlocal maintenance and diagnostic sessions reflect the network access requirements in IA-2. Typically, strong authentication requires authenticators that are resistant to replay attacks and employ multifactor authentication. Strong authenticators include, for example, PKI where certificates are stored on a token protected by a password, passphrase, or biometric. Enforcing requirements in MA-4 is accomplished in part by other controls.
