---
title: MA-6 TIMELY MAINTENANCE
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Compliance with the requirements defined in this control are a deployer responsibility.

The PCF platform provides the organization with a high availability environment, such that an unplanned maintenance event due to hardware or software failure should not result in any application down time.
For example, when supported by the underlying IaaS, the PCF deployment may be operated across multiple availability zones, in order to protect against loss of a specific geographic location.
In the event that spare parts are needed to restore service at a specific geographic location, the applications hosted on PCF should remain available via, e.g., another availability zone.


<hr>

##<a id='description'></a>Control Description

The organization obtains maintenance support and/or spare parts for [Assignment: organization-defined information system components] within [Assignment: organization-defined time period] of failure.

##<a id='supplemental'></a>Supplemental Guidance

Organizations specify the information system components that result in increased risk to organizational operations and assets, individuals, other organizations, or the Nation when the functionality provided by those components is not operational. Organizational actions to obtain maintenance support typically include having appropriate contracts in place.
