---
title: MA-6 TIMELY MAINTENANCE
owner: Security
---

Organizations specify the information system components that result in increased risk to organizational operations and assets, individuals, other organizations, or the Nation when the functionality provided by those components is not operational. Organizational actions to obtain maintenance support typically include having appropriate contracts in place.

##<a id='description'></a>Control Description

The organization obtains maintenance support and/or spare parts for [Assignment: organization-defined information system components] within [Assignment: organization-defined time period] of failure.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


