---
title: AU-13 MONITORING FOR INFORMATION DISCLOSURE
owner: Security
---

##<a id='compliance'></a>PCF Compliance

This requirement is an organizational responsibility and out of scope for the PCF platform.
In addition, this requirement is categorized as P0, and so not required for <a href="https://csrc.nist.gov/Projects/Risk-Management/Detailed-Overview">FISMA</a> Moderate.

<hr>

##<a id='description'></a>Control Description

The organization monitors [Assignment: organization-defined open source information and/or information sites] [Assignment: organization-defined frequency] for evidence of unauthorized disclosure of organizational information.

##<a id='supplemental'></a>Supplemental Guidance

Open source information includes, for example, social networking sites.
