---
title: AU-15 ALTERNATE AUDIT CAPABILITY
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

This requirement is an organizational responsibility and out of scope for the PCF platform.
In addition, this requirement is categorized as P0, and so not required for <a href="https://csrc.nist.gov/Projects/Risk-Management/Detailed-Overview">FISMA</a> Moderate.

<hr>

##<a id='description'></a>Control Description

The organization provides an alternate audit capability in the event of a failure in primary audit capability that provides [Assignment: organization-defined alternate audit functionality].

##<a id='supplemental'></a>Supplemental Guidance

Since an alternate audit capability may be a short-term protection employed until the failure in the primary auditing capability is corrected, organizations may determine that the alternate audit capability need only provide a subset of the primary audit functionality that is impacted by the failure.
