---
title: AU-12 AUDIT GENERATION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

The policy decision on what events to audit is a deployer responsibility.
However, all technical controls implied by this requirement are satisfied by the PCF platform.

When appropriately configured, the PCF platform audits all platform activity, and is compliant with this requirement.
It is the responsibility of the deployer to configure an appropriate syslog destination, and also to leverage appropriate encryption and logical access controls for all audit data that is archived off-platform to an enterprise log management system.

PCF platform and application logs are synchronized to an enterprise provided time standard, and thus may be correlated with logs from other information systems as needed.
The logging format for Cloud Controller and UAA follows the de-facto standard CEF logging format.

Additional information on specific audit capabilities can be found on the following pages:

* [Logging Configuration](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/logging-config-opsman.html)

* [Cloud Controller and UAA Logging](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/cc-uaa-logging.html)

* [BOSH Director Logging](https://bosh.io/docs/director-access-events.html)"

<hr>

##<a id='description'></a>Control Description

The information system:

<ol type="a">
  <li>Provides audit record generation capability for the auditable events defined in AU-2 a. at [Assignment: organization-defined information system components];</li>
  <li>Allows [Assignment: organization-defined personnel or roles] to select which auditable events are to be audited by specific components of the information system; and</li>
  <li>Generates audit records for the events defined in AU-2 d. with the content defined in AU-3.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Audit records can be generated from many different information system components. The list of audited events is the set of events for which audits are to be generated. These events are typically a subset of all events for which the information system is capable of generating audit records.
