---
title: AU-4 AUDIT STORAGE CAPACITY
owner: Security
---

Organizations consider the types of auditing to be performed and the audit processing requirements when allocating audit storage capacity. Allocating sufficient audit storage capacity reduces the likelihood of such capacity being exceeded and resulting in the potential loss or reduction of auditing capability.

##<a id='description'></a>Control Description

The organization allocates audit record storage capacity in accordance with [Assignment: organization-defined audit record storage requirements].

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


