---
title: AU-4 AUDIT STORAGE CAPACITY
owner: Security
---

##<a id='compliance'></a>PCF Compliance

inherited

##<a id='details'></a>Details

deployer responsibility

<hr>

##<a id='description'></a>Control Description

The organization allocates audit record storage capacity in accordance with [Assignment: organization-defined audit record storage requirements].

##<a id='supplemental'></a>Supplemental Guidance

Organizations consider the types of auditing to be performed and the audit processing requirements when allocating audit storage capacity. Allocating sufficient audit storage capacity reduces the likelihood of such capacity being exceeded and resulting in the potential loss or reduction of auditing capability.
