---
title: AU-4 AUDIT STORAGE CAPACITY
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Provisioning adequate audit log storage capacity is the responsibility of the deployer and operator.  The PCF Loggregator system will forward all platform and application logs to an operator configured enterprise log management system.  All audit logs are streamed off the platform as they are created, and forwarded to the syslog endpoint. Ops Manager and BOSH enable operators to adjust resource allocations for PCF VM capacity as needed. 
<hr>

##<a id='description'></a>Control Description

The organization allocates audit record storage capacity in accordance with [Assignment: organization-defined audit record storage requirements].

##<a id='supplemental'></a>Supplemental Guidance

Organizations consider the types of auditing to be performed and the audit processing requirements when allocating audit storage capacity. Allocating sufficient audit storage capacity reduces the likelihood of such capacity being exceeded and resulting in the potential loss or reduction of auditing capability.
