---
title: AU-5 RESPONSE TO AUDIT PROCESSING FAILURES
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

PCF delegates responsibility for audit logging alerts to the existing enterprise log management system.  When appropriately configured, PCF will forward all activity logging to the designated enterprise log management system, and alerts or triggers for specific events may be established there.  All implied requirements for this requirement are satisfied by the PCF platform.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Alerts [Assignment: organization-defined personnel or roles] in the event of an audit processing failure; and</li>
  <li>Takes the following additional actions: [Assignment: organization-defined actions to be taken (e.g., shut down information system, overwrite oldest audit records, stop generating audit records)].</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Audit processing failures include, for example, software/hardware errors, failures in the audit capturing mechanisms, and audit storage capacity being reached or exceeded. Organizations may choose to define additional actions for different audit processing failures (e.g., by type, by location, by severity, or a combination of such factors). This control applies to each audit data storage repository (i.e., distinct information system component where audit records are stored), the total audit storage capacity of organizations (i.e., all audit data storage repositories combined), or both.
