---
title: AU-6 AUDIT REVIEW, ANALYSIS, AND REPORTING
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance


Compliance with this requirement is the deployer's responsibility.  The organization must define appropriate policies, and implement the supplementary procedural controls. All implied technical requirements are satisfied by the PCF platform. 

##<a id='details'></a>Details

policy and procedure

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Reviews and analyzes information system audit records [Assignment: organization-defined frequency] for indications of [Assignment: organization-defined inappropriate or unusual activity]; and</li>
  <li>Reports findings to [Assignment: organization-defined personnel or roles].</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Audit review, analysis, and reporting covers information security-related auditing performed by organizations including, for example, auditing that results from monitoring of account usage, remote access, wireless connectivity, mobile device connection, configuration settings, system component inventory, use of maintenance tools and nonlocal maintenance, physical access, temperature and humidity, equipment delivery and removal, communications at the information system boundaries, use of mobile code, and use of VoIP. Findings can be reported to organizational entities that include, for example, incident response team, help desk, information security group/department. If organizations are prohibited from reviewing and analyzing audit information or unable to conduct such activities (e.g., in certain national security applications or systems), the review/analysis may be carried out by other organizations granted such authority.
