---
title: AU-7 AUDIT REDUCTION AND REPORT GENERATION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is a deployer responsibility.  All implied technical control requirements are satisfied by the PCF platform. PCF provides comprehensive audit logging for all platform activity, which can be integrated with an enterprise log management system.  Audit logging includes BOSH and Ops Manager actions, Cloud Controller and UAA actions, Linux OS auditing and application logging.  In addition, these components of PCF also provide APIs to enable development of any custom reports required. 

<hr>

##<a id='description'></a>Control Description

The information system provides an audit reduction and report generation capability that:

<ol type="a">
  <li>Supports on-demand audit review, analysis, and reporting requirements and after-the-fact investigations of security incidents; and</li>
  <li>Does not alter the original content or time ordering of audit records.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Audit reduction is a process that manipulates collected audit information and organizes such information in a summary format that is more meaningful to analysts. Audit reduction and report generation capabilities do not always emanate from the same information system or from the same organizational entities conducting auditing activities. Audit reduction capability can include, for example, modern data mining techniques with advanced data filters to identify anomalous behavior in audit records. The report generation capability provided by the information system can generate customizable reports. Time ordering of audit records can be a significant issue if the granularity of the timestamp in the record is insufficient.
