---
title: AU-9 PROTECTION OF AUDIT INFORMATION
owner: Security
---

##<a id='compliance'></a>PCF Compliance

inherited

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The information system protects audit information and audit tools from unauthorized access, modification, and deletion.

##<a id='supplemental'></a>Supplemental Guidance

Audit information includes all information (e.g., audit records, audit settings, and audit reports) needed to successfully audit information system activity. This control focuses on technical protection of audit information. Physical protection of audit information is addressed by media protection controls and physical and environmental protection controls.
