---
title: AU - Audit and Accountability Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./au-1.html">AU-1</a></td>
    <td>AUDIT AND ACCOUNTABILITY POLICY AND PROCEDURES</td>
    <td>Deployer Responsibility</td>
  </tr>
  <tr>
    <td><a href="./au-2.html">AU-2</a></td>
    <td>AUDIT EVENTS</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./au-3.html">AU-3</a></td>
    <td>CONTENT OF AUDIT RECORDS</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./au-4.html">AU-4</a></td>
    <td>AUDIT STORAGE CAPACITY</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./au-5.html">AU-5</a></td>
    <td>RESPONSE TO AUDIT PROCESSING FAILURES</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./au-6.html">AU-6</a></td>
    <td>AUDIT REVIEW, ANALYSIS, AND REPORTING</td>
    <td>deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./au-7.html">AU-7</a></td>
    <td>AUDIT REDUCTION AND REPORT GENERATION</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./au-8.html">AU-8</a></td>
    <td>TIME STAMPS</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./au-9.html">AU-9</a></td>
    <td>PROTECTION OF AUDIT INFORMATION</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./au-10.html">AU-10</a></td>
    <td>NON-REPUDIATION</td>
    <td>Not required for FISMA moderate</td>
  </tr>
  <tr>
    <td><a href="./au-11.html">AU-11</a></td>
    <td>AUDIT RECORD RETENTION</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./au-12.html">AU-12</a></td>
    <td>AUDIT GENERATION</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./au-13.html">AU-13</a></td>
    <td>MONITORING FOR INFORMATION DISCLOSURE</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./au-14.html">AU-14</a></td>
    <td>SESSION AUDIT</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./au-15.html">AU-15</a></td>
    <td>ALTERNATE AUDIT CAPABILITY</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./au-16.html">AU-16</a></td>
    <td>CROSS-ORGANIZATIONAL AUDITING</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
</table>
