---
title: AU - Audit and Accountability Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
  </tr>
  <tr>
    <td><a href="./au-1.html">AU-1</td>
    <td>AUDIT AND ACCOUNTABILITY POLICY AND PROCEDURES</td>
  </tr>
  <tr>
    <td><a href="./au-2.html">AU-2</td>
    <td>AUDIT EVENTS</td>
  </tr>
  <tr>
    <td><a href="./au-3.html">AU-3</td>
    <td>CONTENT OF AUDIT RECORDS</td>
  </tr>
  <tr>
    <td><a href="./au-4.html">AU-4</td>
    <td>	AUDIT STORAGE CAPACITY</td>
  </tr>
  <tr>
    <td><a href="./au-5.html">AU-5</td>
    <td>RESPONSE TO AUDIT PROCESSING FAILURES</td>
  </tr>
  <tr>
    <td><a href="./au-6.html">AU-6</td>
    <td>AUDIT REVIEW, ANALYSIS, AND REPORTING</td>
  </tr>
  <tr>
    <td><a href="./au-7.html">AU-7</td>
    <td>AUDIT REDUCTION AND REPORT GENERATION</td>
  </tr>
  <tr>
    <td><a href="./au-8.html">AU-8</td>
    <td>TIME STAMPS</td>
  </tr>
  <tr>
    <td><a href="./au-9.html">AU-9</td>
    <td>PROTECTION OF AUDIT INFORMATION</td>
  </tr>
  <tr>
    <td><a href="./au-10.html">AU-10</td>
    <td>NON-REPUDIATION</td>
  </tr>
  <tr>
    <td><a href="./au-11.html">AU-11</td>
    <td>AUDIT RECORD RETENTION</td>
  </tr>
  <tr>
    <td><a href="./au-12.html">AU-12</td>
    <td>AUDIT GENERATION</td>
  </tr>
  <tr>
    <td><a href="./au-13.html">AU-13</td>
    <td>MONITORING FOR INFORMATION DISCLOSURE</td>
  </tr>
  <tr>
    <td><a href="./au-14.html">AU-14</td>
    <td>SESSION AUDIT</td>
  </tr>
  <tr>
    <td><a href="./au-15.html">AU-15</td>
    <td>ALTERNATE AUDIT CAPABILITY</td>
  </tr>
  <tr>
    <td><a href="./au-16.html">AU-16</td>
    <td>CROSS-ORGANIZATIONAL AUDITING</td>
  </tr>
</table>