---
title: Risk Assessment Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./ra-1.html">RA-1</a></td>
    <td>RISK ASSESSMENT POLICY AND PROCEDURES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ra-2.html">RA-2</a></td>
    <td>SECURITY CATEGORIZATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ra-3.html">RA-3</a></td>
    <td>RISK ASSESSMENT</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ra-4.html">RA-4</a></td>
    <td>RISK ASSESSMENT UPDATE</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ra-5.html">RA-5</a></td>
    <td>VULNERABILITY SCANNING</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ra-6.html">RA-6</a></td>
    <td>TECHNICAL SURVEILLANCE COUNTERMEASURES SURVEY</td>
    <td></td>
  </tr>
</table>