---
title: System And Information Integrity Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Provides Compliance</strong></th>
    <th><strong>Compliance Inherits from IaaS or Deployer</strong></th>
  </tr>
  <tr>
    <td><a href="./si-1.html">SI-1</a></td>
    <td>System And Information Integrity Control Family</td>
    <td></td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-2.html">SI-2</a></td>
    <td>FLAW REMEDIATION</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-3.html">SI-3</a></td>
    <td>MALICIOUS CODE PROTECTION</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-4.html">SI-4</a></td>
    <td>INFORMATION SYSTEM MONITORING</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-5.html">SI-5</a></td>
    <td>SECURITY ALERTS, ADVISORIES, AND DIRECTIVES</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-6.html">SI-6</a></td>
    <td>SECURITY FUNCTION VERIFICATION</td>
    <td colspan="2">P0, so not required for FISMA Moderate.</td>
  </tr>
  <tr>
    <td><a href="./si-7.html">SI-7</a></td>
    <td>SOFTWARE, FIRMWARE, AND INFORMATION INTEGRITY</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-8.html">SI-8</a></td>
    <td>SPAM PROTECTION</td>
    <td></td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-9.html">SI-9</a></td>
    <td>INFORMATION INPUT RESTRICTIONS</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td><a href="./si-10.html">SI-10</a></td>
    <td>INFORMATION INPUT VALIDATION</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-11.html">SI-11</a></td>
    <td>ERROR HANDLING</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-12.html">SI-12</a></td>
    <td>INFORMATION HANDLING AND RETENTION</td>
    <td></td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="./si-13.html">SI-13</a></td>
    <td>PREDICTABLE FAILURE PREVENTION</td>
    <td colspan="2">P0, so not required for FISMA Moderate.</td>
  </tr>
  <tr>
    <td><a href="./si-14.html">SI-14</a></td>
    <td>NON-PERSISTENCE</td>
    <td colspan="2">P0, so not required for FISMA Moderate.</td>
  </tr>
  <tr>
    <td><a href="./si-15.html">SI-15</a></td>
    <td>INFORMATION OUTPUT FILTERING</td>
    <td colspan="2">P0, so not required for FISMA Moderate.</td>
  </tr>
  <tr>
    <td><a href="./si-16.html">SI-16</a></td>
    <td>MEMORY PROTECTION</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./si-17.html">SI-17</a></td>
    <td>FAIL-SAFE PROCEDURES</td>
    <td colspan="2">P0, so not required for FISMA Moderate.</td>
  </tr>
</table>