---
title: SI-16 MEMORY PROTECTION
owner: Security
---

Some adversaries launch attacks with the intent of executing code in non-executable regions of memory or in memory locations that are prohibited. Security safeguards employed to protect memory include, for example, data execution prevention and address space layout randomization. Data execution prevention safeguards can either be hardware-enforced or software-enforced with hardware providing the greater strength of mechanism.

##<a id='description'></a>Control Description

The information system implements [Assignment: organization-defined security safeguards] to protect its memory from unauthorized code execution.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


