---
title: SI-3 MALICIOUS CODE PROTECTION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is primarily a deployer responsibility. PCF supports the use of antivirus and file integrity monitoring through the following BOSH add-ons:

* [ClamAV Add-on for PCF](https://docs.pivotal.io/addon-antivirus/index.html)

* [File Integrity Monitoring Add-on for PCF](https://docs.pivotal.io/addon-fim/index.html)

The following additional resources are available to help PCF deployers with malicious code protection on the PCF platform:

* [BOSH Director Runtime Config](https://bosh.io/docs/runtime-config.html)

* [BOSH Linux OS Configuration Release](https://github.com/cloudfoundry/os-conf-release)

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Employs malicious code protection mechanisms at information system entry and exit points to detect and eradicate malicious code;</li>
  <li>Updates malicious code protection mechanisms whenever new releases are available in accordance with organizational configuration management policy and procedures;</li>
  <li>Configures malicious code protection mechanisms to:</li>
  <ol>
    <li>Perform periodic scans of the information system [Assignment: organization-defined frequency] and real-time scans of files from external sources at [Selection (one or more); endpoint; network entry/exit points] as the files are downloaded, opened, or executed in accordance with organizational security policy; and</li>
    <li>[Selection (one or more): block malicious code; quarantine malicious code; send alert to administrator; [Assignment: organization-defined action]] in response to malicious code detection; and</li>
  </ol>
  <li>Addresses the receipt of false positives during malicious code detection and eradication and the resulting potential impact on the availability of the information system</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Information system entry and exit points include, for example, firewalls, electronic mail servers, web servers, proxy servers, remote-access servers, workstations, notebook computers, and mobile devices. Malicious code includes, for example, viruses, worms, Trojan horses, and spyware. Malicious code can also be encoded in various formats (e.g., UUENCODE, Unicode), contained within compressed or hidden files, or hidden in files using steganography. Malicious code can be transported by different means including, for example, web accesses, electronic mail, electronic mail attachments, and portable storage devices. Malicious code insertions occur through the exploitation of information system vulnerabilities. Malicious code protection mechanisms include, for example, anti-virus signature definitions and reputation-based technologies. A variety of technologies and methods exist to limit or eliminate the effects of malicious code. Pervasive configuration management and comprehensive software integrity controls may be effective in preventing execution of unauthorized code. In addition to commercial off-the-shelf software, malicious code may also be present in custom-built software. This could include, for example, logic bombs, back doors, and other types of cyber attacks that could affect organizational missions/business functions. Traditional malicious code protection mechanisms cannot always detect such code. In these situations, organizations rely instead on other safeguards including, for example, secure coding practices, configuration management and control, trusted procurement processes, and monitoring practices to help ensure that software does not perform functions other than the functions intended. Organizations may determine that in response to the detection of malicious code, different actions may be warranted. For example, organizations can define actions in response to malicious code detection during periodic scans, actions in response to detection of malicious downloads, and/or actions in response to detection of maliciousness when attempting to open or execute files.
