---
title: SI-6 SECURITY FUNCTION VERIFICATION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

<em>P0, so not required for <a href="https://csrc.nist.gov/Projects/Risk-Management/Detailed-Overview">FISMA</a> Moderate.</em>

<hr>

##<a id='description'></a>Control Description

The information system:

<ol type="a">
  <li>Verifies the correct operation of [Assignment: organization-defined security functions];</li>
  <li>Performs this verification [Selection (one or more): [Assignment: organization-defined system transitional states]; upon command by user with appropriate privilege; [Assignment: organization-defined frequency]];</li>
  <li>Notifies [Assignment: organization-defined personnel or roles] of failed security verification tests; and</li>
  <li>[Selection (one or more): shuts the information system down; restarts the information system; [Assignment: organization-defined alternative action(s)]] when anomalies are discovered.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Transitional states for information systems include, for example, system startup, restart, shutdown, and abort. Notifications provided by information systems include, for example, electronic alerts to system administrators, messages to local computer consoles, and/or hardware indications such as lights.
