---
title: SI-7 SOFTWARE, FIRMWARE, AND INFORMATION INTEGRITY
owner: Security
---

##<a id='compliance'></a>PCF Compliance

PCF is compliant with this requirement. The PCF deployer is responsible for integrity verification.

PCF supports the use of third-party scanners, either through remote access scanning, or through local installation of third-party agents on the BOSH stemcells. 

The [File Integrity Monitoring](https://docs.pivotal.io/addon-fim/index.html) add-on for PCF monitors file integrity for all BOSH-deployed VMs. Deployers can also customize their BOSH Through the BOSH [runtime config](http://bosh.io/docs/runtime-config.html) to run audit daemon and other native Linux auditing tools on all BOSH-deployed VMs.

[Pivotal Network](https://network.pivotal.io) provides checksums for all software releases, enabling deployers to check file integrity before deployment. In the future, Pivotal plans to add digital signatures to releases on Pivotal Network.

PCF deployers requiring assistance configuring integrity verification can contact the Pivotal Security team at [security@pivotal.io](mailto:security@pivotal.io).

<hr>

##<a id='description'></a>Control Description

The organization employs integrity verification tools to detect unauthorized changes to [Assignment: organization-defined software, firmware, and information].

##<a id='supplemental'></a>Supplemental Guidance

Unauthorized changes to software, firmware, and information can occur due to errors or malicious activity (e.g., tampering). Software includes, for example, operating systems (with key internal components such as kernels, drivers), middleware, and applications. Firmware includes, for example, the Basic Input Output System (BIOS). Information includes metadata such as security attributes associated with information. State-of-the-practice integrity-checking mechanisms (e.g., parity checks, cyclical redundancy checks, cryptographic hashes) and associated tools can automatically monitor the integrity of information systems and hosted applications.
