---
title: SI-8 SPAM PROTECTION
owner: Security
---

Information system entry and exit points include, for example, firewalls, electronic mail servers, web servers, proxy servers, remote-access servers, workstations, mobile devices, and notebook/laptop computers. Spam can be transported by different means including, for example, electronic mail, electronic mail attachments, and web accesses. Spam protection mechanisms include, for example, signature definitions.

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Employs spam protection mechanisms at information system entry and exit points to detect and take action on unsolicited messages; and</li>
  <li>Updates spam protection mechanisms when new releases are available in accordance with organizational configuration management policy and procedures.</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


