---
title: SI-9 INFORMATION INPUT RESTRICTIONS
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

This control is not applicable to PCF.

<hr>

##<a id='description'></a>Control Description

[Withdrawn: Incorporated into AC-2, AC-3, AC-5, AC-6].

##<a id='supplemental'></a>Supplemental Guidance
