---
title: CA-2 SECURITY ASSESSMENTS
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Deployers can use this NIST Controls for [Tanzu Application Service documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/index.html) to help develop a security assessment plan.

Deployers may use automated scanning tools to assess the security of their specific deployments. VMware performs regular port, configuration, and vulnerability scans on its own Tanzu Application Service deployments.

The [Tanzu Application Service Security Guide](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/toc-traffic-and-security-index.html) explains the ongoing procedures that VMware follows to assess and maintain the security of Tanzu Application Service.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops a security assessment plan that describes the scope of the assessment including:</li>
  <ol>
    <li>Security controls and control enhancements under assessment;</li>
    <li>Assessment procedures to be used to determine security control effectiveness; and</li>
    <li>Assessment environment, assessment team, and assessment roles and responsibilities;</li>
  </ol>
  <li>Assesses the security controls in the information system and its environment of operation [Assignment: organization-defined frequency] to determine the extent to which the controls are implemented correctly, operating as intended, and producing the desired outcome with respect to meeting established security requirements;</li>
  <li>Produces a security assessment report that documents the results of the assessment; and</li>
  <li>Provides the results of the security control assessment to [Assignment: organization-defined individuals or roles].</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Organizations assess security controls in organizational information systems and the environments in which those systems operate as part of: (i) initial and ongoing security authorizations; (ii) FISMA annual assessments; (iii) continuous monitoring; and (iv) system development life cycle activities. Security assessments: (i) ensure that information security is built into organizational information systems; (ii) identify weaknesses and deficiencies early in the development process; (iii) provide essential information needed to make risk-based decisions as part of security authorization processes; and (iv) ensure compliance to vulnerability mitigation procedures. Assessments are conducted on the implemented security controls from Appendix F (main catalog) and Appendix G (Program Management controls) as documented in System Security Plans and Information Security Program Plans. Organizations can use other types of assessment activities such as vulnerability scanning and system monitoring to maintain the security posture of information systems during the entire life cycle. Security assessment reports document assessment results in sufficient detail as deemed necessary by organizations, to determine the accuracy and completeness of the reports and whether the security controls are implemented correctly, operating as intended, and producing the desired outcome with respect to meeting security requirements. The FISMA requirement for assessing security controls at least annually does not require additional assessment activities to those activities already in place in organizational security authorization processes. Security assessment results are provided to the individuals or roles appropriate for the types of assessments being conducted. For example, assessments conducted in support of security authorization decisions are provided to authorizing officials or authorizing official designated representatives. To satisfy annual assessment requirements, organizations can use assessment results from the following sources: (i) initial or ongoing information system authorizations; (ii) continuous monitoring; or (iii) system development life cycle activities. Organizations ensure that security assessment results are current, relevant to the determination of security control effectiveness, and obtained with the appropriate level of assessor independence. Existing security control assessment results can be reused to the extent that the results are still valid and can also be supplemented with additional assessments as needed. Subsequent to initial authorizations and in accordance with OMB policy, organizations assess security controls during continuous monitoring. Organizations establish the frequency for ongoing security control assessments in accordance with organizational continuous monitoring strategies. Information Assurance Vulnerability Alerts provide useful examples of vulnerability mitigation procedures. External audits (e.g., audits by external entities such as regulatory agencies) are outside the scope of this control.
