---
title: CA-9 INTERNAL SYSTEM CONNECTIONS
owner: Security
---

This control applies to connections between organizational information systems and (separate) constituent system components (i.e., intra-system connections) including, for example, system connections with mobile devices, notebook/desktop computers, printers, copiers, facsimile machines, scanners, sensors, and servers. Instead of authorizing each individual internal connection, organizations can authorize internal connections for a class of components with common characteristics and/or configurations, for example, all digital printers, scanners, and copiers with a specified processing, storage, and transmission capability or all smart phones with a specific baseline configuration.

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Authorizes internal connections of [Assignment: organization-defined information system components or classes of components] to the information system; and</li>
  <li>Documents, for each internal connection, the interface characteristics, security requirements, and the nature of the information communicated.</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


