---
title: CA - Security Assessment and Authorization Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./ca-1.html">CA-1</a></td>
    <td>SECURITY ASSESSMENT AND AUTHORIZATION POLICY AND PROCEDURES</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./ca-2.html">CA-2</a></td>
    <td>SECURITY ASSESSMENTS</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ca-3.html">CA-3</a></td>
    <td>SYSTEM INTERCONNECTIONS</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./ca-5.html">CA-5</a></td>
    <td>PLAN OF ACTION AND MILESTONES</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ca-6.html">CA-6</a></td>
    <td>SECURITY AUTHORIZATION</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ca-7.html">CA-7</a></td>
    <td>CONTINUOUS MONITORING</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./ca-8.html">CA-8</a></td>
    <td>PENETRATION TESTING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ca-9.html">CA-9</a></td>
    <td>INTERNAL SYSTEM CONNECTIONS</td>
    <td>Inherited</td>
  </tr>
</table>