---
title: System And Services Acquisition Control Family
owner: Security
---

<strong><%= modified_date %></strong>


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./sa-1.html">SA-1</td>
    <td>SYSTEM AND SERVICES ACQUISITION POLICY AND PROCEDURES</td>
    <td>Deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-2.html">SA-2</td>
    <td>ALLOCATION OF RESOURCES</td>
    <td>Deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-3.html">SA-3</td>
    <td>SYSTEM DEVELOPMENT LIFE CYCLE</td>
    <td>Deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-4.html">SA-4</td>
    <td>ACQUISITION PROCESS</td>
    <td>Deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-5.html">SA-5</td>
    <td>INFORMATION SYSTEM DOCUMENTATION</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./sa-6.html">SA-6</td>
    <td>SOFTWARE USAGE RESTRICTIONS</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-7.html">SA-7</td>
    <td>USER-INSTALLED SOFTWARE</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-8.html">SA-8</td>
    <td>SECURITY ENGINEERING PRINCIPLES</td>
    <td>Deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-9.html">SA-9</td>
    <td>EXTERNAL INFORMATION SYSTEM SERVICES</td>
    <td>Deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-10.html">SA-10</td>
    <td>DEVELOPER CONFIGURATION MANAGEMENT</td>
    <td>Compliant, and deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-11.html">SA-11</td>
    <td>DEVELOPER SECURITY TESTING AND EVALUATION</td>
    <td>Compliant, and deployer responsibility</td>
  </tr>
  <tr>
    <td><a href="./sa-12.html">SA-12</td>
    <td>SUPPLY CHAIN PROTECTION</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-13.html">SA-13</td>
    <td>TRUSTWORTHINESS</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-14.html">SA-14</td>
    <td>CRITICALITY ANALYSIS</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-15.html">SA-15</td>
    <td>DEVELOPMENT PROCESS, STANDARDS, AND TOOLS</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-16.html">SA-16</td>
    <td>DEVELOPER-PROVIDED TRAINING</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-17.html">SA-17</td>
    <td>DEVELOPER SECURITY ARCHITECTURE AND DESIGN</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-18.html">SA-18</td>
    <td>TAMPER RESISTANCE AND DETECTION</td>
    <td><Not applicable/td>
  </tr>
  <tr>
    <td><a href="./sa-19.html">SA-19</td>
    <td>COMPONENT AUTHENTICITY</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-20.html">SA-20</td>
    <td>CUSTOMIZED DEVELOPMENT OF CRITICAL COMPONENTS</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-21.html">SA-21</td>
    <td>DEVELOPER SCREENING</td>
    <td>Not applicable</td>
  </tr>
  <tr>
    <td><a href="./sa-22.html">SA-22</td>
    <td>UNSUPPORTED SYSTEM COMPONENTS</td>
    <td>Not applicable</td>
  </tr>
</table>
