---
title: SA-18 TAMPER RESISTANCE AND DETECTION
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Not applicable.

<hr>

##<a id='description'></a>Control Description

The organization implements a tamper protection program for the information system, system component, or information system service.

##<a id='supplemental'></a>Supplemental Guidance

Anti-tamper technologies and techniques provide a level of protection for critical information systems, system components, and information technology products against a number of related threats including modification, reverse engineering, and substitution. Strong identification combined with tamper resistance and/or tamper detection is essential to protecting information systems, components, and products during distribution and when in use.
