---
title: SA-15 DEVELOPMENT PROCESS, STANDARDS, AND TOOLS
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Requires the developer of the information system, system component, or information system service to follow a documented development process that:</li>
  <ol>
    <li>Explicitly addresses security requirements;</li>
    <li>Identifies the standards and tools used in the development process;</li>
    <li>Documents the specific tool options and tool configurations used in the development process; and</li>
    <li>Documents, manages, and ensures the integrity of changes to the process and/or tools used in development; and</li>
  </ol>
  <li>Reviews the development process, standards, tools, and tool options/configurations [Assignment: organization-defined frequency] to determine if the process, standards, tools, and tool options/configurations selected and employed can satisfy [Assignment: organization-defined security requirements].</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Development tools include, for example, programming languages and computer-aided design (CAD) systems. Reviews of development processes can include, for example, the use of maturity models to determine the potential effectiveness of such processes. Maintaining the integrity of changes to tools and processes enables accurate supply chain risk assessment and mitigation, and requires robust configuration control throughout the life cycle (including design, development, transport, delivery, integration, and maintenance) to track authorized changes and prevent unauthorized changes.
