---
title: SA-21 DEVELOPER SCREENING
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Not applicable.

<hr>

##<a id='description'></a>Control Description

The organization requires that the developer of [Assignment: organization-defined information system, system component, or information system service]:

<ol type="a">
  <li>Have appropriate access authorizations as determined by assigned [Assignment: organization-defined official government duties]; and</li>
  <li>Satisfy [Assignment: organization-defined additional personnel screening criteria].</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Because the information system, system component, or information system service may be employed in critical activities essential to the national and/or economic security interests of the United States, organizations have a strong interest in ensuring that the developer is trustworthy. The degree of trust required of the developer may need to be consistent with that of the individuals accessing the information system/component/service once deployed. Examples of authorization and personnel screening criteria include clearance, satisfactory background checks, citizenship, and nationality. Trustworthiness of developers may also include a review and analysis of company ownership and any relationships the company has with entities potentially affecting the quality/reliability of the systems, components, or services being developed.
