---
title: SA-2 ALLOCATION OF RESOURCES
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Determines information security requirements for the information system or information system service in mission/business process planning;</li>
  <li>Determines, documents, and allocates the resources required to protect the information system or information system service as part of its capital planning and investment control process; and</li>
  <li>Establishes a discrete line item for information security in organizational programming and budgeting documentation.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Resource allocation for information security includes funding for the initial information system or information system service acquisition and funding for the sustainment of the system/service.
