---
title: SA-3 SYSTEM DEVELOPMENT LIFE CYCLE
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with the requirements defined in this control is a deployer responsibility.

As described in these pages, the Tanzu Application Service will provide many of the required technical controls which previously may have been
the responsibility of an individual application development team.
By providing these controls as part of the deployment platform, the TAS for VMs deployment enables organizations to inherit their baseline technical controls,
leaving fewer technical controls that need to be provided by the application(s).


<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Manages the information system using [Assignment: organization-defined system development life cycle] that incorporates information security considerations;</li>
  <li>Defines and documents information security roles and responsibilities throughout the system development life cycle;</li>
  <li>Identifies individuals having information security roles and responsibilities; and</li>
  <li>Integrates the organizational information security risk management process into system development life cycle activities.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

A well-defined system development life cycle provides the foundation for the successful development, implementation, and operation of organizational information systems. To apply the required security controls within the system development life cycle requires a basic understanding of information security, threats, vulnerabilities, adverse impacts, and risk to critical missions/business functions. The security engineering principles in SA-8 cannot be properly applied if individuals that design, code, and test information systems and system components (including information technology products) do not understand security. Therefore, organizations include qualified personnel, for example, chief information security officers, security architects, security engineers, and information system security officers in system development life cycle activities to ensure that security requirements are incorporated into organizational information systems. It is equally important that developers include individuals on the development team that possess the requisite security expertise and skills to ensure that needed security capabilities are effectively integrated into the information system. Security awareness and training programs can help ensure that individuals having key security roles and responsibilities have the appropriate experience, skills, and expertise to conduct assigned system development life cycle activities. The effective integration of security requirements into enterprise architecture also helps to ensure that important security considerations are addressed early in the system development life cycle and that those considerations are directly related to the organizational mission/business processes. This process also facilitates the integration of the information security architecture into the enterprise architecture, consistent with organizational risk management and information security strategies.
