---
title: SA-5 INFORMATION SYSTEM DOCUMENTATION
owner: Security
---

This control helps organizational personnel understand the implementation and operation of security controls associated with information systems, system components, and information system services. Organizations consider establishing specific measures to determine the quality/completeness of the content provided. The inability to obtain needed documentation may occur, for example, due to the age of the information system/component or lack of support from developers and contractors. In those situations, organizations may need to recreate selected documentation if such documentation is essential to the effective implementation or operation of security controls. The level of protection provided for selected information system, component, or service documentation is commensurate with the security category or classification of the system. For example, documentation associated with a key DoD weapons system or command and control system would typically require a higher level of protection than a routine administrative system. Documentation that addresses information system vulnerabilities may also require an increased level of protection. Secure operation of the information system, includes, for example, initially starting the system and resuming secure system operation after any lapse in system operation.

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Obtains administrator documentation for the information system, system component, or information system service that describes:</li>
  <ol>
    <li>Secure configuration, installation, and operation of the system, component, or service;</li>
    <li>Effective use and maintenance of security functions/mechanisms; and</li>
    <li>Known vulnerabilities regarding configuration and use of administrative (i.e., privileged) functions;</li>
  </ol>
  <li>Obtains user documentation for the information system, system component, or information system service that describes:</li>
  <ol>
    <li>User-accessible security functions/mechanisms and how to effectively use those security functions/mechanisms;</li>
    <li>Methods for user interaction, which enables individuals to use the system, component, or service in a more secure manner; and</li>
    <li>User responsibilities in maintaining the security of the system, component, or service;</li>
  </ol>
  <li> Documents attempts to obtain information system, system component, or information system service documentation when such documentation is either unavailable or nonexistent and takes [Assignment: organization-defined actions] in response;</li>
  <li>Protects documentation as required, in accordance with the risk management strategy; and</li>
  <li>Distributes documentation to [Assignment: organization-defined personnel or roles].</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


