---
title: PE - Physical and Environmental Protection Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>PCF v1.11 Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./pe-1.html">PE-1</a></td>
    <td>PHYSICAL AND ENVIRONMENTAL PROTECTION POLICY AND PROCEDURES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-2.html">PE-2</a></td>
    <td>PHYSICAL ACCESS AUTHORIZATIONS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-3.html">PE-3</a></td>
    <td>PHYSICAL ACCESS CONTROL</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-4.html">PE-4</a></td>
    <td>ACCESS CONTROL FOR TRANSMISSION MEDIUM</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-5.html">PE-5</a></td>
    <td>ACCESS CONTROL FOR OUTPUT DEVICES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-6.html">PE-6</a></td>
    <td>MONITORING PHYSICAL ACCESS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-7.html">PE-7</a></td>
    <td>VISITOR CONTROL</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-8.html">PE-8</a></td>
    <td>VISITOR ACCESS RECORDS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-9.html">PE-9</a></td>
    <td>POWER EQUIPMENT AND CABLING</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-10.html">PE-10</a></td>
    <td>EMERGENCY SHUTOFF</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-11.html">PE-11</a></td>
    <td>EMERGENCY POWER</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-12.html">PE-12</a></td>
    <td>EMERGENCY LIGHTING</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-13.html">PE-13</a></td>
    <td>FIRE PROTECTION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-14.html">PE-14</a></td>
    <td>TEMPERATURE AND HUMIDITY CONTROLS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-15.html">PE-15</a></td>
    <td>	WATER DAMAGE PROTECTION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-16.html">PE-16</a></td>
    <td>DELIVERY AND REMOVAL</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-17.html">PE-17</a></td>
    <td>ALTERNATE WORK SITE</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-18.html">PE-18</a></td>
    <td>LOCATION OF INFORMATION SYSTEM COMPONENTS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-19.html">PE-19</a></td>
    <td>INFORMATION LEAKAGE</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./pe-20.html">PE-20</a></td>
    <td>ASSET MONITORING AND TRACKING</td>
    <td></td>
  </tr>
</table>