---
title: PE-13 FIRE PROTECTION
owner: Security
---

This control applies primarily to facilities containing concentrations of information system resources including, for example, data centers, server rooms, and mainframe computer rooms. Fire suppression and detection devices/systems include, for example, sprinkler systems, handheld fire extinguishers, fixed fire hoses, and smoke detectors.

##<a id='description'></a>Control Description

The organization employs and maintains fire suppression and detection devices/systems for the information system that are supported by an independent energy source.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


