---
title: PE-10 EMERGENCY SHUTOFF
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Provides the capability of shutting off power to the information system or individual system components in emergency situations;</li>
  <li>Places emergency shutoff switches or devices in [Assignment: organization-defined location by information system or system component] to facilitate safe and easy access for personnel; and</li>
  <li>Protects emergency power shutoff capability from unauthorized activation.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

This control applies primarily to facilities containing concentrations of information system resources including, for example, data centers, server rooms, and mainframe computer rooms.
