---
title: PE-16 DELIVERY AND REMOVAL
owner: Security
---

Effectively enforcing authorizations for entry and exit of information system components may require restricting access to delivery areas and possibly isolating the areas from the information system and media libraries.

##<a id='description'></a>Control Description

The organization authorizes, monitors, and controls [Assignment: organization-defined types of information system components] entering and exiting the facility and maintains records of those items.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


