---
title: PE-17 ALTERNATE WORK SITE
owner: Security
---

Alternate work sites may include, for example, government facilities or private residences of employees. While commonly distinct from alternative processing sites, alternate work sites may provide readily available alternate locations as part of contingency operations. Organizations may define different sets of security controls for specific alternate work sites or types of sites depending on the work-related activities conducted at those sites. This control supports the contingency planning activities of organizations and the federal telework initiative.

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Employs [Assignment: organization-defined security controls] at alternate work sites;</li>
  <li>Assesses as feasible, the effectiveness of security controls at alternate work sites; and</li>
  <li>Provides a means for employees to communicate with information security personnel in case of security incidents or problems.</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


