---
title: PE-15 WATER DAMAGE PROTECTION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization protects the information system from damage resulting from water leakage by providing master shutoff or isolation valves that are accessible, working properly, and known to key personnel.

##<a id='supplemental'></a>Supplemental Guidance

This control applies primarily to facilities containing concentrations of information system resources including, for example, data centers, server rooms, and mainframe computer rooms. Isolation valves can be employed in addition to or in lieu of master shutoff valves to shut off water supplies in specific areas of concern, without affecting entire organizations.
