---
title: PE-14 TEMPERATURE AND HUMIDITY CONTROLS
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Maintains temperature and humidity levels within the facility where the information system resides at [Assignment: organization-defined acceptable levels]; and</li>
  <li>Monitors temperature and humidity levels [Assignment: organization-defined frequency].</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

This control applies primarily to facilities containing concentrations of information system resources, for example, data centers, server rooms, and mainframe computer rooms.
