---
title: PE-2 PHYSICAL ACCESS AUTHORIZATIONS
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with this requirement is the responsibility of the Tanzu Application Service deployer.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops, approves, and maintains a list of individuals with authorized access to the facility where the information system resides;</li>
  <li>Issues authorization credentials for facility access;</li>
  <li>Reviews the access list detailing authorized facility access by individuals [Assignment: organization-defined frequency]; and</li>
  <li>Removes individuals from the facility access list when access is no longer required.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

This control applies to organizational employees and visitors. Individuals (e.g., employees, contractors, and others) with permanent physical access authorization credentials are not considered visitors. Authorization credentials include, for example, badges, identification cards, and smart cards. Organizations determine the strength of authorization credentials needed (including level of forge-proof badges, smart cards, or identification cards) consistent with federal standards, policies, and procedures. This control only applies to areas within facilities that have not been designated as publicly accessible.
