---
title: PE-3 PHYSICAL ACCESS CONTROL
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Enforces physical access authorizations at [Assignment: organization-defined entry/exit points to the facility where the information system resides] by;</li>
  <ol>
    <li>Verifying individual access authorizations before granting access to the facility; and</li>
    <li>Controlling ingress/egress to the facility using [Selection (one or more): [Assignment: organization-defined physical access control systems/devices]; guards];</li>
  </ol>
  <li>Maintains physical access audit logs for [Assignment: organization-defined entry/exit points];</li>
  <li>Provides [Assignment: organization-defined security safeguards] to control access to areas within the facility officially designated as publicly accessible;</li>
  <li>Escorts visitors and monitors visitor activity [Assignment: organization-defined circumstances requiring visitor escorts and monitoring];</li>
  <li>Secures keys, combinations, and other physical access devices;</li>
  <li>Inventories [Assignment: organization-defined physical access devices] every [Assignment: organization-defined frequency]; and</li>
  <li>Changes combinations and keys [Assignment: organization-defined frequency] and/or when keys are lost, combinations are compromised, or individuals are transferred or terminated.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

This control applies to organizational employees and visitors. Individuals (e.g., employees, contractors, and others) with permanent physical access authorization credentials are not considered visitors. Organizations determine the types of facility guards needed including, for example, professional physical security staff or other personnel such as administrative staff or information system users. Physical access devices include, for example, keys, locks, combinations, and card readers. Safeguards for publicly accessible areas within organizational facilities include, for example, cameras, monitoring by guards, and isolating selected information systems and/or system components in secured areas. Physical access control systems comply with applicable federal laws, Executive Orders, directives, policies, regulations, standards, and guidance. The Federal Identity, Credential, and Access Management Program provides implementation guidance for identity, credential, and access management capabilities for physical access control systems. Organizations have flexibility in the types of audit logs employed. Audit logs can be procedural (e.g., a written log of individuals accessing the facility and when such access occurred), automated (e.g., capturing ID provided by a PIV card), or some combination thereof. Physical access points can include facility access points, interior access points to information systems and/or components requiring supplemental access controls, or both. Components of organizational information systems (e.g., workstations, terminals) may be located in areas designated as publicly accessible with organizations safeguarding access to such devices.
