---
title: PE-5 ACCESS CONTROL FOR OUTPUT DEVICES
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization controls physical access to information system output devices to prevent unauthorized individuals from obtaining the output.

##<a id='supplemental'></a>Supplemental Guidance

Controlling physical access to output devices includes, for example, placing output devices in locked rooms or other secured areas and allowing access to authorized individuals only, and placing output devices in locations that can be monitored by organizational personnel. Monitors, printers, copiers, scanners, facsimile machines, and audio devices are examples of information system output devices.
