---
title: PE-6 MONITORING PHYSICAL ACCESS
owner: Security
---

Organizational incident response capabilities include investigations of and responses to detected physical security incidents. Security incidents include, for example, apparent security violations or suspicious physical access activities. Suspicious physical access activities include, for example: (i) accesses outside of normal work hours; (ii) repeated accesses to areas not normally accessed; (iii) accesses for unusual lengths of time; and (iv) out-of-sequence accesses.

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Monitors physical access to the facility where the information system resides to detect and respond to physical security incidents;</li>
  <li>Reviews physical access logs [Assignment: organization-defined frequency] and upon occurrence of [Assignment: organization-defined events or potential indications of events]; and</li>
  <li>Coordinates results of reviews and investigations with the organizational incident response capability.</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


