---
title: PE-8 VISITOR ACCESS RECORDS
owner: Security
---

Visitor access records include, for example, names and organizations of persons visiting, visitor signatures, forms of identification, dates of access, entry and departure times, purposes of visits, and names and organizations of persons visited. Visitor access records are not required for publicly accessible areas.

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Maintains visitor access records to the facility where the information system resides for [Assignment: organization-defined time period]; and</li>
  <li>Reviews visitor access records [Assignment: organization-defined frequency].</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


