---
title: PE-9 POWER EQUIPMENT AND CABLING
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization protects power equipment and power cabling for the information system from damage and destruction.

##<a id='supplemental'></a>Supplemental Guidance

Organizations determine the types of protection necessary for power equipment and cabling employed at different locations both internal and external to organizational facilities and environments of operation. This includes, for example, generators and power cabling outside of buildings, internal cabling and uninterruptable power sources within an office or data center, and power sources for self-contained entities such as vehicles and satellites.
