---
title: System And Communications Protection Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./sc-1.html">SC-1</a></td>
    <td>SYSTEM AND COMMUNICATIONS PROTECTION POLICY AND PROCEDURES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-2.html">SC-2</a></td>
    <td>APPLICATION PARTITIONING</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-3.html">SC-3</a></td>
    <td>SECURITY FUNCTION ISOLATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-4.html">SC-4</a></td>
    <td>INFORMATION IN SHARED RESOURCES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-5.html">SC-5</a></td>
    <td>DENIAL OF SERVICE PROTECTION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-6.html">SC-6</a></td>
    <td>RESOURCE AVAILABILITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-7.html">SC-7</a></td>
    <td>BOUNDARY PROTECTION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-8.html">SC-8</a></td>
    <td>TRANSMISSION CONFIDENTIALITY AND INTEGRITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-9.html">SC-9</a></td>
    <td>TRANSMISSION CONFIDENTIALITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-10.html">SC-10</a></td>
    <td>NETWORK DISCONNECT</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-11.html">SC-11</a></td>
    <td>TRUSTED PATH</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-12.html">SC-12</a></td>
    <td>CRYPTOGRAPHIC KEY ESTABLISHMENT AND MANAGEMENT</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-13.html">SC-13</a></td>
    <td>CRYPTOGRAPHIC PROTECTION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-14.html">SC-14</a></td>
    <td>PUBLIC ACCESS PROTECTIONS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-15.html">SC-15</a></td>
    <td>COLLABORATIVE COMPUTING DEVICES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-16.html">SC-16</a></td>
    <td>TRANSMISSION OF SECURITY ATTRIBUTES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-17.html">SC-17</a></td>
    <td>PUBLIC KEY INFRASTRUCTURE CERTIFICATES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-18.html">SC-18</a></td>
    <td>MOBILE CODE</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-19.html">SC-19</a></td>
    <td>VOICE OVER INTERNET PROTOCOL</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-20.html">SC-20</a></td>
    <td>SECURE NAME / ADDRESS RESOLUTION SERVICE (AUTHORITATIVE SOURCE)</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-21.html">SC-21</a></td>
    <td>SECURE NAME / ADDRESS RESOLUTION SERVICE (RECURSIVE OR CACHING RESOLVER)</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-22.html">SC-22</a></td>
    <td>ARCHITECTURE AND PROVISIONING FOR NAME / ADDRESS RESOLUTION SERVICE</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-23.html">SC-23</a></td>
    <td>SESSION AUTHENTICITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-24.html">SC-24</a></td>
    <td>FAIL IN KNOWN STATE</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-25.html">SC-25</a></td>
    <td>THIN NODES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-26.html">SC-26</a></td>
    <td>HONEYPOTS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-27.html">SC-27</a></td>
    <td>PLATFORM-INDEPENDENT APPLICATIONS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-28.html">SC-28</a></td>
    <td>PROTECTION OF INFORMATION AT REST</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-29.html">SC-29</a></td>
    <td>HETEROGENEITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-30.html">SC-30</a></td>
    <td>CONCEALMENT AND MISDIRECTION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-31.html">SC-31</a></td>
    <td>COVERT CHANNEL ANALYSIS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-32.html">SC-32</a></td>
    <td>INFORMATION SYSTEM PARTITIONING</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-33.html">SC-33</a></td>
    <td>TRANSMISSION PREPARATION INTEGRITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-34.html">SC-34</a></td>
    <td>NON-MODIFIABLE EXECUTABLE PROGRAMS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-35.html">SC-35</a></td>
    <td>HONEYCLIENTS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-36.html">SC-36</a></td>
    <td>DISTRIBUTED PROCESSING AND STORAGE</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-37.html">SC-37</a></td>
    <td>OUT-OF-BAND CHANNELS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-38.html">SC-38</a></td>
    <td>OPERATIONS SECURITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-39.html">SC-39</a></td>
    <td>PROCESS ISOLATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-40.html">SC-40</a></td>
    <td>WIRELESS LINK PROTECTION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-41.html">SC-41</a></td>
    <td>PORT AND I/O DEVICE ACCESS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-42.html">SC-42</a></td>
    <td>SENSOR CAPABILITY AND DATA</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-43.html">SC-43</a></td>
    <td>USAGE RESTRICTIONS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./sc-44.html">SC-44</a></td>
    <td>DETONATION CHAMBERS</td>
    <td></td>
  </tr>
</table>