---
title: SC-12 CRYPTOGRAPHIC KEY ESTABLISHMENT AND MANAGEMENT
owner: Security
---

##<a id='compliance'></a>PCF Compliance

It is a deployer responsibility to define all cryptographic key management policies and procedures.  PCF satisfies all implied requirements. As of the PCF v1.12.0 release, all certificates and keys in the environment can be rotated by the deployer, including the "non-configurable" certificates in Ops Manager.  Procedures exist explaining how to rotate keys for Ops Manager and IPsec.

(EXCEPTION: rotation of the Cloud Controller mysql database key.  Rotating this key is still a roadmap item).

More information on cryptographic key management is available on the following pages:

[IPsec credential management](https://docs.pivotal.io/addon-ipsec/credentials.html)
[Ops Manager credential management](https://docs.pivotal.io/pivotalcf/security/pcf-infrastructure/api-cert-rotation.html)
[CredHub Overview](https://docs.cloudfoundry.org/credhub/)
[CredHub for Tile Developers](https://docs.pivotal.io/tiledev/credhub.html)


<hr>

##<a id='description'></a>Control Description

The organization establishes and manages cryptographic keys for required cryptography employed within the information system in accordance with [Assignment: organization-defined requirements for key generation, distribution, storage, access, and destruction].

##<a id='supplemental'></a>Supplemental Guidance

Cryptographic key management and establishment can be performed using manual procedures or automated mechanisms with supporting manual procedures. Organizations define key management requirements in accordance with applicable federal laws, Executive Orders, directives, regulations, policies, standards, and guidance, specifying appropriate options, levels, and parameters. Organizations manage trust stores to ensure that only approved trust anchors are in such trust stores. This includes certificates with visibility external to organizational information systems and certificates related to the internal operations of systems.
