---
title: SC-14 PUBLIC ACCESS PROTECTIONS
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Not applicable.

<hr>

##<a id='description'></a>Control Description

[Withdrawn: Capability provided by AC-2, AC-3, AC-5, AC-6, SI-3, SI-4, SI-5, SI-7, SI-10].

##<a id='supplemental'></a>Supplemental Guidance
