---
title: SC-15 COLLABORATIVE COMPUTING DEVICES
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with the requirements defined in this control is a deployer responsibility.

Interpretation of the requirement for notification of any remote session initiation in the PCF PAS operational environment might include the start of an SSH session.  

When appropriately configured, an operator may know that someone has remotely connected via SSH to a VM or a container.  

PCF provides audit logging for SSH session initiation and the deployer may establish a log alert to satisfy this requirement. 

<hr>

##<a id='description'></a>Control Description

The information system:

<ol type="a">
  <li>Prohibits remote activation of collaborative computing devices with the following exceptions: [Assignment: organization-defined exceptions where remote activation is to be allowed]; and</li>
  <li>Provides an explicit indication of use to users physically present at the devices.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Collaborative computing devices include, for example, networked white boards, cameras, and microphones. Explicit indication of use includes, for example, signals to users when collaborative computing devices are activated.
