---
title: SC-17 PUBLIC KEY INFRASTRUCTURE CERTIFICATES
owner: Security
---

For all certificates, organizations manage information system trust stores to ensure only approved trust anchors are in the trust stores. This control addresses both certificates with visibility external to organizational information systems and certificates related to the internal operations of systems, for example, application-specific time services.

##<a id='description'></a>Control Description

The organization issues public key certificates under an [Assignment: organization-defined certificate policy] or obtains public key certificates from an approved service provider.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


