---
title: SC-12 CRYPTOGRAPHIC KEY ESTABLISHMENT AND MANAGEMENT
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

It is a deployer responsibility to define all cryptographic key management policies and procedures.  PCF satisfies all implied technical control requirements. For all VMware Tanzu Application Service releases, all certificates and keys in the environment can be rotated by the deployer, including the "non-configurable" certificates in VMware Tanzu Operations Manager.  Procedures exist explaining how to rotate keys for Tanzu Operations Manager and IPsec.

Rotation of the Cloud Controller mysql database key is supported in releases after v2.2.

More information on cryptographic key management is available on the following pages:

* [IPsec credential management](https://docs.vmware.com/en/IPsec-for-VMware-Tanzu/1.9/documentation/GUID-credentials.html)
* [Tanzu Operations Manager credential management](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/security-pcf-infrastructure-api-cert-rotation.html)
* [CredHub Overview](https://docs.cloudfoundry.org/credhub/)
* [CredHub in PCF](https://docs.pivotal.io/pivotalcf/credhub/)
* [CredHub for Tile Developers](https://docs.vmware.com/en/Tile-Developer-Guide/2.10/tile-dev-guide/credhub.html)

<hr>

##<a id='description'></a>Control Description

The organization establishes and manages cryptographic keys for required cryptography employed within the information system in accordance with [Assignment: organization-defined requirements for key generation, distribution, storage, access, and destruction].

##<a id='supplemental'></a>Supplemental Guidance

Cryptographic key management and establishment can be performed using manual procedures or automated mechanisms with supporting manual procedures. Organizations define key management requirements in accordance with applicable federal laws, Executive Orders, directives, regulations, policies, standards, and guidance, specifying appropriate options, levels, and parameters. Organizations manage trust stores to ensure that only approved trust anchors are in such trust stores. This includes certificates with visibility external to organizational information systems and certificates related to the internal operations of systems.
