---
title: SC-10 NETWORK DISCONNECT
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The information system terminates the network connection associated with a communications session at the end of the session or after [Assignment: organization-defined time period] of inactivity.

##<a id='supplemental'></a>Supplemental Guidance

This control applies to both internal and external networks. Terminating network connections associated with communications sessions include, for example, de-allocating associated TCP/IP address/port pairs at the operating system level, or de-allocating networking assignments at the application level if multiple application sessions are using a single, operating system-level network connection. Time periods of inactivity may be established by organizations and include, for example, time periods by type of network access or for specific network accesses.
