---
title: SC-26 HONEYPOTS
owner: Security
---

A honeypot is set up as a decoy to attract adversaries and to deflect their attacks away from the operational systems supporting organizational missions/business function. Depending upon the specific usage of the honeypot, consultation with the Office of the General Counsel before deployment may be needed.

##<a id='description'></a>Control Description

The information system includes components specifically designed to be the target of malicious attacks for the purpose of detecting, deflecting, and analyzing such attacks.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


