---
title: SC-21 SECURE NAME / ADDRESS RESOLUTION SERVICE (RECURSIVE OR CACHING RESOLVER)
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Address resolution for clients that need to reach endpoints at the external interface of PCF (such as applications hosted in PCF, or the UAA or Cloud Controller endpoint) are the responsibility of the deployer.  The client will rely upon the DNS configuration of the endpoint device.  

Address resolution internal to the PCF foundation is managed by BOSH DNS.  As BOSH is responsible for assigning IP addresses for PCF platform jobs (BOSH releases), it also orchestrates name resolution for these addresses.  Security of this name-to-address resolution is based on the trust relationship between the BOSH director and the BOSH agents. Address resolution for applications running within the PAS/ERT runtime container is delegated to the DNS specific by the operator, using the Ops Manager, or the IaaS supplied DNS.  

For more information, see [BOSH DNS Introduced Container DNS Behavior Changes in PAS 2.0](https://discuss.pivotal.io/hc/en-us/articles/360001578654) in the Pivotal Knowledge Base.

<hr>

##<a id='description'></a>Control Description

The information system requests and performs data origin authentication and data integrity verification on the name/address resolution responses the system receives from authoritative sources.

##<a id='supplemental'></a>Supplemental Guidance

Each client of name resolution services either performs this validation on its own, or has authenticated channels to trusted validation providers. Information systems that provide name and address resolution services for local clients include, for example, recursive resolving or caching domain name system (DNS) servers. DNS client resolvers either perform validation of DNSSEC signatures, or clients use authenticated channels to recursive resolvers that perform such validations. Information systems that use technologies other than the DNS to map between host/service names and network addresses provide other means to enable clients to verify the authenticity and integrity of response data.
