---
title: SC-25 THIN NODES
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Not applicable.

<hr>

##<a id='description'></a>Control Description

The organization employs [Assignment: organization-defined information system components] with minimal functionality and information storage.

##<a id='supplemental'></a>Supplemental Guidance

The deployment of information system components with reduced/minimal functionality (e.g., diskless nodes and thin client technologies) reduces the need to secure every user endpoint, and may reduce the exposure of information, information systems, and services to cyber attacks.
