---
title: SC-31 COVERT CHANNEL ANALYSIS
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Not applicable.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Performs a covert channel analysis to identify those aspects of communications within the information system that are potential avenues for covert [Selection (one or more): storage; timing] channels; and</li>
  <li>Estimates the maximum bandwidth of those channels.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Developers are in the best position to identify potential areas within systems that might lead to covert channels. Covert channel analysis is a meaningful activity when there is the potential for unauthorized information flows across security domains, for example, in the case of information systems containing export-controlled information and having connections to external networks (i.e., networks not controlled by organizations). Covert channel analysis is also meaningful for multilevel secure (MLS) information systems, multiple security level (MSL) systems, and cross-domain systems.
