---
title: SC-39 PROCESS ISOLATION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

PCF is compliant with the technical controls implied by this control.  Applications deployed to PCF are isolated from each other through the use of linux containers in the environment.

For more information on container security, see [Container Security](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/container-security.html)

<hr>

##<a id='description'></a>Control Description

The information system maintains a separate execution domain for each executing process.

##<a id='supplemental'></a>Supplemental Guidance

Information systems can maintain separate execution domains for each executing process by assigning each process a separate address space. Each information system process has a distinct address space so that communication between processes is performed in a manner controlled through the security functions, and one process cannot modify the executing code of another process. Maintaining separate execution domains for executing processes can be achieved, for example, by implementing separate address spaces. This capability is available in most commercial operating systems that employ multi-state processor technologies.
