---
title: SC-36 DISTRIBUTED PROCESSING AND STORAGE
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Not applicable.

<hr>

##<a id='description'></a>Control Description

The organization distributes [Assignment: organization-defined processing and storage] across multiple physical locations.

##<a id='supplemental'></a>Supplemental Guidance

Distributing processing and storage across multiple physical locations provides some degree of redundancy or overlap for organizations, and therefore increases the work factor of adversaries to adversely impact organizational operations, assets, and individuals. This control does not assume a single primary processing or storage location, and thus allows for parallel processing and storage.
