---
title: SC-5 DENIAL OF SERVICE PROTECTION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

As described in the corresponding [reference architecture](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/architecture-index.html) documentation, the VMware Tanzu Application Service (VMware TAS for VMs) deployment depends upon the presence of an IaaS firewall and load balancer infrastructure.  The VMware TAS for VMs deployment will therefore inherit whatever DDOS protections are provided at the perimeter of the deployment.

VMware Tanzu Application Service also supports the use of [Route Services](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/route-services.html), which can be used to add additional application-level (layer 7) protection.

In addition, VMware TAS for VMs employs [rate limiting](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/app-log-rate-limits.html) techniques to protect against DOS attacks on, e.g. the Cloud Controller.

<hr>

##<a id='description'></a>Control Description

The information system protects against or limits the effects of the following types of denial of service attacks: [Assignment: organization-defined types of denial of service attacks or references to sources for such information] by employing [Assignment: organization-defined security safeguards].

##<a id='supplemental'></a>Supplemental Guidance

A variety of technologies exist to limit, or in some cases, eliminate the effects of denial of service attacks. For example, boundary protection devices can filter certain types of packets to protect information system components on internal organizational networks from being directly affected by denial of service attacks. Employing increased capacity and bandwidth combined with service redundancy may also reduce the susceptibility to denial of service attacks.
