---
title: SC-6 RESOURCE AVAILABILITY
owner: Security
---

Priority protection helps prevent lower-priority processes from delaying or interfering with the information system servicing any higher-priority processes. Quotas prevent users or processes from obtaining more than predetermined amounts of resources. This control does not apply to information system components for which there are only single users/roles.

##<a id='description'></a>Control Description

The information system protects the availability of resources by allocating [Assignment: organization-defined resources] by [Selection (one or more); priority; quota; [Assignment: organization-defined security safeguards]].

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


