---
title: SC-6 RESOURCE AVAILABILITY
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Not applicable. This control is classified as P0, and not required when operating at the FISMA Moderate level.

However, Tanzu Application Service (TAS for VMs) does comply with the intent of this control.

TAS for VMs runs applications inside [linux containers](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/container-security.html) which provide a compliant level of resource isolation.

These linux containers are designed to provide isolation of application processes, including filesystem, network, memory, and CPU.


<hr>

##<a id='description'></a>Control Description

The information system protects the availability of resources by allocating [Assignment: organization-defined resources] by [Selection (one or more); priority; quota; [Assignment: organization-defined security safeguards]].

##<a id='supplemental'></a>Supplemental Guidance

Priority protection helps prevent lower-priority processes from delaying or interfering with the information system servicing any higher-priority processes. Quotas prevent users or processes from obtaining more than predetermined amounts of resources. This control does not apply to information system components for which there are only single users/roles.
