---
title: SC-9 TRANSMISSION CONFIDENTIALITY
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

[Withdrawn: Incorporated into SC-8].

##<a id='supplemental'></a>Supplemental Guidance
