---
title: Program Management Control Family
owner: Security
---

<strong><%= modified_date %></strong>


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Tanzu Application Service (TAS for VMs) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./pm-1.html">PM-1</a></td>
    <td>INFORMATION SECURITY PROGRAM PLAN</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./pm-2.html">PM-2</a></td>
    <td>SENIOR INFORMATION SECURITY OFFICER</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-3.html">PM-3</a></td>
    <td>INFORMATION SECURITY RESOURCES</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-4.html">PM-4</a></td>
    <td>PLAN OF ACTION AND MILESTONES PROCESS</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-5.html">PM-5</a></td>
    <td>INFORMATION SYSTEM INVENTORY</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-6.html">PM-6</a></td>
    <td>INFORMATION SECURITY MEASURES OF PERFORMANCE</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-7.html">PM-7</a></td>
    <td>ENTERPRISE ARCHITECTURE</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-8.html">PM-8</a></td>
    <td>CRITICAL INFRASTRUCTURE PLAN</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-9.html">PM-9</a></td>
    <td>RISK MANAGEMENT STRATEGY</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-10.html">PM-10</a></td>
    <td>SECURITY AUTHORIZATION PROCESS</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-11.html">PM-11</a></td>
    <td>MISSION/BUSINESS PROCESS DEFINITION</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-12.html">PM-12</a></td>
    <td>INSIDER THREAT PROGRAM</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-13.html">PM-13</a></td>
    <td>INFORMATION SECURITY WORKFORCE</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-14.html">PM-14</a></td>
    <td>TESTING, TRAINING, AND MONITORING</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-15.html">PM-15</a></td>
    <td>CONTACTS WITH SECURITY GROUPS AND ASSOCIATIONS</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./pm-16.html">PM-16</a></td>
    <td>THREAT AWARENESS PROGRAM</td>
    <td>Not required for FISMA Moderate</td>
  </tr>
</table>