---
title: Program Management Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
  </tr>
  <tr>
    <td><a href="./pm-1.html">PM-1</td>
    <td>	INFORMATION SECURITY PROGRAM PLAN</td>
  </tr>
  <tr>
    <td><a href="./pm-2.html">PM-2</td>
    <td>SENIOR INFORMATION SECURITY OFFICER</td>
  </tr>
  <tr>
    <td><a href="./pm-3.html">PM-3</td>
    <td>INFORMATION SECURITY RESOURCES</td>
  </tr>
  <tr>
    <td><a href="./pm-4.html">PM-4</td>
    <td>PLAN OF ACTION AND MILESTONES PROCESS</td>
  </tr>
  <tr>
    <td><a href="./pm-5.html">PM-5</td>
    <td>	INFORMATION SYSTEM INVENTORY</td>
  </tr>
  <tr>
    <td><a href="./pm-6.html">PM-6</td>
    <td>INFORMATION SECURITY MEASURES OF PERFORMANCE</td>
  </tr>
  <tr>
    <td><a href="./pm-7.html">PM-7</td>
    <td>ENTERPRISE ARCHITECTURE</td>
  </tr>
  <tr>
    <td><a href="./pm-8.html">PM-8</td>
    <td>CRITICAL INFRASTRUCTURE PLAN</td>
  </tr>
  <tr>
    <td><a href="./pm-9.html">PM-9</td>
    <td>RISK MANAGEMENT STRATEGY</td>
  </tr>
  <tr>
    <td><a href="./pm-10.html">PM-10</td>
    <td>SECURITY AUTHORIZATION PROCESS</td>
  </tr>
  <tr>
    <td><a href="./pm-11.html">PM-11</td>
    <td>MISSION/BUSINESS PROCESS DEFINITION</td>
  </tr>
  <tr>
    <td><a href="./pm-12.html">PM-12</td>
    <td>INSIDER THREAT PROGRAM</td>
  </tr>
  <tr>
    <td><a href="./pm-13.html">PM-13</td>
    <td>INFORMATION SECURITY WORKFORCE</td>
  </tr>
  <tr>
    <td><a href="./pm-14.html">PM-14</td>
    <td>TESTING, TRAINING, AND MONITORING</td>
  </tr>
  <tr>
    <td><a href="./pm-15.html">PM-15</td>
    <td>CONTACTS WITH SECURITY GROUPS AND ASSOCIATIONS</td>
  </tr>
  <tr>
    <td><a href="./pm-16.html">PM-16</td>
    <td>	THREAT AWARENESS PROGRAM</td>
  </tr>
</table>