---
title: PM-3 INFORMATION SECURITY RESOURCES
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

<em>Not required for <a href="https://csrc.nist.gov/Projects/Risk-Management/Detailed-Overview">FISMA</a> Moderate.</em>

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Ensures that all capital planning and investment requests include the resources needed to implement the information security program and documents all exceptions to this requirement;</li>
  <li>Employs a business case/Exhibit 300/Exhibit 53 to record the resources required; and</li>
  <li>Ensures that information security resources are available for expenditure as planned.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Organizations consider establishing champions for information security efforts and as part of including the necessary resources, assign specialized expertise and resources as needed. Organizations may designate and empower an Investment Review Board (or similar group) to manage and provide oversight for the information security-related aspects of the capital planning and investment control process.
