---
title: PM-5 INFORMATION SYSTEM INVENTORY
owner: Security
---

This control addresses the inventory requirements in FISMA. OMB provides guidance on developing information systems inventories and associated reporting requirements. For specific information system inventory reporting requirements, organizations consult OMB annual FISMA reporting guidance.

##<a id='description'></a>Control Description

The organization develops and maintains an inventory of its information systems.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


