---
title: PM-6 INFORMATION SECURITY MEASURES OF PERFORMANCE
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The organization develops, monitors, and reports on the results of information security measures of performance.

##<a id='supplemental'></a>Supplemental Guidance

Measures of performance are outcome-based metrics used by an organization to measure the effectiveness or efficiency of the information security program and the security controls employed in support of the program.
