---
title: PM-6 INFORMATION SECURITY MEASURES OF PERFORMANCE
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

<em>Not required for <a href="https://csrc.nist.gov/Projects/Risk-Management/Detailed-Overview">FISMA</a> Moderate.</em>

<hr>

##<a id='description'></a>Control Description

The organization develops, monitors, and reports on the results of information security measures of performance.

##<a id='supplemental'></a>Supplemental Guidance

Measures of performance are outcome-based metrics used by an organization to measure the effectiveness or efficiency of the information security program and the security controls employed in support of the program.
