---
title: PM-8 CRITICAL INFRASTRUCTURE PLAN
owner: Security
---

##<a id='compliance'></a>PCF Compliance

<em>Not required for <a href="https://csrc.nist.gov/Projects/Risk-Management/Detailed-Overview">FISMA</a> Moderate.</em>

<hr>

##<a id='description'></a>Control Description

The organization addresses information security issues in the development, documentation, and updating of a critical infrastructure and key resources protection plan.

##<a id='supplemental'></a>Supplemental Guidance

Protection strategies are based on the prioritization of critical assets and resources. The requirement and guidance for defining critical infrastructure and key resources and for preparing an associated critical infrastructure protection plan are found in applicable federal laws, Executive Orders, directives, policies, regulations, standards, and guidance.
