---
title: CM-10 SOFTWARE USAGE RESTRICTIONS
owner: Security
---

##<a id='compliance'></a>PCF Compliance

inherited

##<a id='details'></a>Details

deployer responsibility

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Uses software and associated documentation in accordance with contract agreements and copyright laws;</li>
  <li>Tracks the use of software and associated documentation protected by quantity licenses to control copying and distribution; and</li>
  <li>Controls and documents the use of peer-to-peer file sharing technology to ensure that this capability is not used for the unauthorized distribution, display, performance, or reproduction of copyrighted work.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Software license tracking can be accomplished by manual methods (e.g., simple spreadsheets) or automated methods (e.g., specialized tracking applications) depending on organizational needs.
