---
title: CM-11 USER-INSTALLED SOFTWARE
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

This requirement is a deployer responsibility.  All implied requirements are satisfied.  Developers with appropriate RBAC Cloud Controller roles assigned to their account may perform a `cf push` operation to
run application code on the foundation.  However, all application code is executed within a container environment and is not permitted access to the host VMs.

<hr>

##<a id='description'></a>Control Description

<ol type="a">
  <li>Establishes [Assignment: organization-defined policies] governing the installation of software by users;</li>
  <li>Enforces software installation policies through [Assignment: organization-defined methods]; and</li>
  <li>Monitors policy compliance at [Assignment: organization-defined frequency].</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

If provided the necessary privileges, users have the ability to install software in organizational information systems. To maintain control over the types of software installed, organizations identify permitted and prohibited actions regarding software installation. Permitted software installations may include, for example, updates and security patches to existing software and downloading applications from organization-approved "app stores." Prohibited software installations may include, for example, software with unknown or suspect pedigrees or software that organizations consider potentially malicious. The policies organizations select governing user-installed software may be organization-developed or provided by some external entity. Policy enforcement methods include procedural methods (e.g., periodic examination of user accounts), automated methods (e.g., configuration settings implemented on organizational information systems), or both.
