---
title: CM-3 CONFIGURATION CHANGE CONTROL
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Policies and procedures governing change control practices within the organization are the responsibility of the deployer.
Changes made to a PCF deployment using BOSH or Ops Manager will be reflected in the deployment manifest, the BOSH director database, and the BOSH eventlog.
The BOSH event log may be forwarded to an enterprise log management system.
BOSH deployment manifests may be maintained in a version control system.
An operator may also perform a manual comparison across different deployment manifest versions.
<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Determines the types of changes to the information system that are configuration-controlled;</li>
  <li>Reviews proposed configuration-controlled changes to the information system and approves or disapproves such changes with explicit consideration for security impact analyses;</li>
  <li>Documents configuration change decisions associated with the information system;</li>
  <li>Implements approved configuration-controlled changes to the information system;</li>
  <li>Retains records of configuration-controlled changes to the information system for [Assignment: organization-defined time period];</li>
  <li>Audits and reviews activities associated with configuration-controlled changes to the information system; and</li>
  <li>Coordinates and provides oversight for configuration change control activities through [Assignment: organization-defined configuration change control element (e.g., committee, board)] that convenes [Selection (one or more): [Assignment: organization-defined frequency]; [Assignment: organization-defined configuration change conditions]].</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Configuration change controls for organizational information systems involve the systematic proposal, justification, implementation, testing, review, and disposition of changes to the systems, including system upgrades and modifications. Configuration change control includes changes to baseline configurations for components and configuration items of information systems, changes to configuration settings for information technology products (e.g., operating systems, applications, firewalls, routers, and mobile devices), unscheduled/unauthorized changes, and changes to remediate vulnerabilities. Typical processes for managing configuration changes to information systems include, for example, Configuration Control Boards that approve proposed changes to systems. For new development information systems or systems undergoing major upgrades, organizations consider including representatives from development organizations on the Configuration Control Boards. Auditing of changes includes activities before and after changes are made to organizational information systems and the auditing activities required to implement such changes.
