---
title: CM-8 INFORMATION SYSTEM COMPONENT INVENTORY
owner: Security
---

##<a id='compliance'></a>PCF Compliance

inherited+compliant

##<a id='details'></a>Details

policy and procedures are deployer responsibility.  Implied requirements satisfied

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops and documents an inventory of information system components that:</li>
  <ol>
    <li>Accurately reflects the current information system;</li>
    <li>Includes all components within the authorization boundary of the information system;</li>
    <li>Is at the level of granularity deemed necessary for tracking and reporting; and</li>
    <li>Includes [Assignment: organization-defined information deemed necessary to achieve effective information system component accountability]; and</li>
  </ol>
  <li>Reviews and updates the information system component inventory [Assignment: organization-defined frequency].</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Organizations may choose to implement centralized information system component inventories that include components from all organizational information systems. In such situations, organizations ensure that the resulting inventories include system-specific information required for proper component accountability (e.g., information system association, information system owner). Information deemed necessary for effective accountability of information system components includes, for example, hardware inventory specifications, software license information, software version numbers, component owners, and for networked components or devices, machine names and network addresses. Inventory specifications include, for example, manufacturer, device type, model, serial number, and physical location.
