---
title: CM - Configuration Management Control Family
owner: Security
---

<strong><%= modified_date %></strong>


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./cm-1.html">CM-1</a></td>
    <td>CONFIGURATION MANAGEMENT POLICY AND PROCEDURES</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cm-2.html">CM-2</a></td>
    <td>BASELINE CONFIGURATION</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cm-3.html">CM-3</a></td>
    <td>CONFIGURATION CHANGE CONTROL</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cm-4.html">CM-4</a></td>
    <td>SECURITY IMPACT ANALYSIS</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cm-5.html">CM-5</a></td>
    <td>ACCESS RESTRICTIONS FOR CHANGE</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cm-6.html">CM-6</a></td>
    <td>CONFIGURATION SETTINGS</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cm-7.html">CM-7</a></td>
    <td>LEAST FUNCTIONALITY</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cm-8.html">CM-8</a></td>
    <td>INFORMATION SYSTEM COMPONENT INVENTORY</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cm-9.html">CM-9</a></td>
    <td>CONFIGURATION MANAGEMENT PLAN</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cm-10.html">CM-10</a></td>
    <td>SOFTWARE USAGE RESTRICTIONS</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cm-11.html">CM-11</a></td>
    <td>USER-INSTALLED SOFTWARE</td>
    <td>Inherited</td>
  </tr>
</table>
