---
title: CM - Configuration Management Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
  </tr>
  <tr>
    <td><a href="./cm-1.html">CM-1</td>
    <td>CONFIGURATION MANAGEMENT POLICY AND PROCEDURES</td>
  </tr>
  <tr>
    <td><a href="./cm-2.html">CM-2</td>
    <td>BASELINE CONFIGURATION</td>
  </tr>
  <tr>
    <td><a href="./cm-3.html">CM-3</td>
    <td>CONFIGURATION CHANGE CONTROL</td>
  </tr>
  <tr>
    <td><a href="./cm-4.html">CM-4</td>
    <td>SECURITY IMPACT ANALYSIS</td>
  </tr>
  <tr>
    <td><a href="./cm-5.html">CM-5</td>
    <td>ACCESS RESTRICTIONS FOR CHANGE</td>
  </tr>
  <tr>
    <td><a href="./cm-6.html">CM-6</td>
    <td>CONFIGURATION SETTINGS</td>
  </tr>
  <tr>
    <td><a href="./cm-7.html">CM-7</td>
    <td>LEAST FUNCTIONALITY</td>
  </tr>
  <tr>
    <td><a href="./cm-8.html">CM-8</td>
    <td>INFORMATION SYSTEM COMPONENT INVENTORY</td>
  </tr>
  <tr>
    <td><a href="./cm-9.html">CM-9</td>
    <td>CONFIGURATION MANAGEMENT PLAN</td>
  </tr>
  <tr>
    <td><a href="./cm-10.html">CM-10</td>
    <td>SOFTWARE USAGE RESTRICTIONS</td>
  </tr>
  <tr>
    <td><a href="./cm-11.html">CM-11</td>
    <td>USER-INSTALLED SOFTWARE</td>
  </tr>
</table>