---
title: IR - Incident Response Control Family
owner: Security
---

<strong><%= modified_date %></strong>


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./ir-1.html">IR-1</a></td>
    <td>INCIDENT RESPONSE POLICY AND PROCEDURES</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ir-2.html">IR-2</a></td>
    <td>INCIDENT RESPONSE TRAINING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ir-3.html">IR-3</a></td>
    <td>INCIDENT RESPONSE TESTING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ir-4.html">IR-4</a></td>
    <td>INCIDENT HANDLING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ir-5.html">IR-5</a></td>
    <td>INCIDENT MONITORING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ir-6.html">IR-6</a></td>
    <td>INCIDENT REPORTING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ir-7.html">IR-7</a></td>
    <td>INCIDENT RESPONSE ASSISTANCE</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./ir-8.html">IR-8</td>
    <td>INCIDENT RESPONSE PLAN</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ir-ir-9.html">IR-9</a></td>
    <td>INFORMATION SPILLAGE RESPONSE</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./ir-10.html">IR-10</a></td>
    <td>INTEGRATED INFORMATION SECURITY ANALYSIS TEAM</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
</table>