---
title: IR-2 INCIDENT RESPONSE TRAINING
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization provides incident response training to information system users consistent with assigned roles and responsibilities:

<ol type="a">
  <li>Within [Assignment: organization-defined time period] of assuming an incident response role or responsibility;</li>
  <li>When required by information system changes; and</li>
  <li>[Assignment: organization-defined frequency] thereafter.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Incident response training provided by organizations is linked to the assigned roles and responsibilities of organizational personnel to ensure the appropriate content and level of detail is included in such training. For example, regular users may only need to know who to call or how to recognize an incident on the information system; system administrators may require additional training on how to handle/remediate incidents; and incident responders may receive more specific training on forensics, reporting, system recovery, and restoration. Incident response training includes user training in the identification and reporting of suspicious activities, both from external and internal sources.
