---
title: IR-6 INCIDENT REPORTING
owner: Security
---

The intent of this control is to address both specific incident reporting requirements within an organization and the formal incident reporting requirements for federal agencies and their subordinate organizations. Suspected security incidents include, for example, the receipt of suspicious email communications that can potentially contain malicious code. The types of security incidents reported, the content and timeliness of the reports, and the designated reporting authorities reflect applicable federal laws, Executive Orders, directives, regulations, policies, standards, and guidance. Current federal policy requires that all federal agencies (unless specifically exempted from such requirements) report security incidents to the United States Computer Emergency Readiness Team (US-CERT) within specified time frames designated in the US-CERT Concept of Operations for Federal Cyber Security Incident Handling.

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Requires personnel to report suspected security incidents to the organizational incident response capability within [Assignment: organization-defined time period]; and</li>
  <li>Reports security incident information to [Assignment: organization-defined authorities].</li>
</ol>					 

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


