---
title: IR-7 INCIDENT RESPONSE ASSISTANCE
owner: Security
---

The organization provides an incident response support resource, integral to the organizational incident response capability that offers advice and assistance to users of the information system for the handling and reporting of security incidents.

##<a id='description'></a>Control Description

Incident response support resources provided by organizations include, for example, help desks, assistance groups, and access to forensics services, when required.

##<a id='compliance'></a>PCF Compliance


##<a id='details'></a>Details


