---
title: IR-7 INCIDENT RESPONSE ASSISTANCE
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

Pivotal provides the following incident response support resources:

* RSS feed of Pivotal vulnerability reports: <a href="https://pivotal.io/security/rss">https://pivotal.io/security/rss</a>

* Pivotal Support website and assistance request system: [https://support.pivotal.io](https://support.pivotal.io) 

* Pivotal Application Security Team email: [security@pivotal.io](mailto:security@pivotal.io)

* Pivotal Product Vulnerability Reports, archived on the Pivotal Application Security Team website: [https://pivotal.io/security](https://pivotal.io/security)

<hr>

##<a id='description'></a>Control Description

Incident response support resources provided by organizations include, for example, help desks, assistance groups, and access to forensics services, when required.

##<a id='supplemental'></a>Supplemental Guidance

The organization provides an incident response support resource, integral to the organizational incident response capability that offers advice and assistance to users of the information system for the handling and reporting of security incidents.
