---
title: IR-8 INCIDENT RESPONSE PLAN
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with this requirement is the responsibility of the PCF deployer.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops an incident response plan that:</li>
  <ol>
    <li>Provides the organization with a roadmap for implementing its incident response capability;</li>
    <li>Describes the structure and organization of the incident response capability;</li>
    <li>Provides a high-level approach for how the incident response capability fits into the overall organization;</li>
    <li>Meets the unique requirements of the organization, which relate to mission, size, structure, and functions;</li>
    <li>Defines reportable incidents;</li>
    <li>Provides metrics for measuring the incident response capability within the organization;</li>
    <li>Defines the resources and management support needed to effectively maintain and mature an incident response capability; and</li>
    <li>Is reviewed and approved by [Assignment: organization-defined personnel or roles];</li>
  </ol>
  <li>Distributes copies of the incident response plan to [Assignment: organization-defined incident response personnel (identified by name and/or by role) and organizational elements];</li>
  <li>Reviews the incident response plan [Assignment: organization-defined frequency];</li>
  <li>Updates the incident response plan to address system/organizational changes or problems encountered during plan implementation, execution, or testing;</li>
  <li>Communicates incident response plan changes to [Assignment: organization-defined incident response personnel (identified by name and/or by role) and organizational elements]; and</li>
  <li>Protects the incident response plan from unauthorized disclosure and modification.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

It is important that organizations develop and implement a coordinated approach to incident response. Organizational missions, business functions, strategies, goals, and objectives for incident response help to determine the structure of incident response capabilities. As part of a comprehensive incident response capability, organizations consider the coordination and sharing of information with external organizations, including, for example, external service providers and organizations involved in the supply chain for organizational information systems.
