---
title: AT-2 SECURITY AWARENESS TRAINING
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The organization provides basic security awareness training to information system users (including managers, senior executives, and contractors):

<ol type="a">
  <li>As part of initial training for new users;</li>
  <li>When required by information system changes; and</li>
  <li>[Assignment: organization-defined frequency] thereafter.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Organizations determine the appropriate content of security awareness training and security awareness techniques based on the specific organizational requirements and the information systems to which personnel have authorized access. The content includes a basic understanding of the need for information security and user actions to maintain security and to respond to suspected security incidents. The content also addresses awareness of the need for operations security. Security awareness techniques can include, for example, displaying posters, offering supplies inscribed with security reminders, generating email advisories/notices from senior organizational officials, displaying logon screen messages, and conducting information security awareness events.
