---
title: AT - Awareness and Training Control Family
owner: Security
---

<strong><%= modified_date %></strong>


<table border="1" class="nice" >
<thead>
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Tanzu Application Service (TAS for VMs) Compliance</strong></th>
  </tr>
</thead
  <tr>
    <td><a href="./at-1.html">AT-1</a></td>
    <td>SECURITY AWARENESS AND TRAINING POLICY AND PROCEDURES</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./at-2.html">AT-2</a></td>
    <td>SECURITY AWARENESS TRAINING</td>
    <td>Deployer Responsibility</td>
  </tr>
  <tr>
    <td><a href="./at-3.html">AT-3</a></td>
    <td>ROLE-BASED SECURITY TRAINING</td>
    <td>Deployer Responsibility</td>
  </tr>
  <tr>
    <td><a href="./at-4.html">AT-4</a></td>
    <td>SECURITY TRAINING RECORDS</td>
    <td>Deployer Responsibility</td>
  </tr>
</table>
