---
title: AC-18 WIRELESS ACCESS
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Establishes usage restrictions, configuration/connection requirements, and implementation guidance for wireless access; and</li>
  <li>Authorizes wireless access to the information system prior to allowing such connections.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Wireless technologies include, for example, microwave, packet radio (UHF/VHF), 802.11x, and Bluetooth. Wireless networks use authentication protocols (e.g., EAP/TLS, PEAP), which provide credential protection and mutual authentication.
