---
title: AC-12 SESSION TERMINATION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>Vmware Tanzu Application Service Compliance

Tanzu Application Service is compliant with this requirement through configuration of UAA token timeout. Additionally, compliance is supported for BOSH SSH sessions through configuration of stemcell through BOSH Add-on.

<hr>

##<a id='description'></a>Control Description

The information system automatically terminates a user session after [Assignment: organization-defined conditions or trigger events requiring session disconnect].

##<a id='supplemental'></a>Supplemental Guidance

This control addresses the termination of user-initiated logical sessions in contrast to SC-10 which addresses the termination of network connections that are associated with communications sessions (i.e., network disconnect). A logical session (for local, network, and remote access) is initiated whenever a user (or process acting on behalf of a user) accesses an organizational information system. Such user sessions can be terminated (and thus terminate user access) without terminating network sessions. Session termination terminates all processes associated with a user's logical session except those processes that are specifically created by the user (i.e., session owner) to continue after the session is terminated. Conditions or trigger events requiring automatic session termination can include, for example, organization-defined periods of user inactivity, targeted responses to certain types of incidents, time-of-day restrictions on information system use.
