---
title: AC-3 ACCESS ENFORCEMENT
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

The PCF product feature set is sufficient to satisfy the technical requirements implied in AC-3.  PCF provides an [RBAC scheme](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/roles.html) where roles are assigned to users and the users permission for any activities are scoped using the CAPI concepts of Orgs and Spaces. Enforcement of RBAC in the application is the responsibility of the application developers.

<hr>

##<a id='description'></a>Control Description

The information system enforces approved authorizations for logical access to information and system resources in accordance with applicable access control policies.

##<a id='supplemental'></a>Supplemental Guidance

Access control policies (e.g., identity-based policies, role-based policies, control matrices, cryptography) control access between active entities or subjects (i.e., users or processes acting on behalf of users) and passive entities or objects (e.g., devices, files, records, domains) in information systems. In addition to enforcing authorized access at the information system level and recognizing that information systems can host many applications and services in support of organizational missions and business operations, access enforcement mechanisms can also be employed at the application and service level to provide increased information security.

