---
title: AC-5 SEPARATION OF DUTIES
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

PCF provides basic [RBAC support](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/roles.html).  Enforcement of separation of duties (SOD) is the responsibility of the deployer.

PCF supports assignment of specific roles so that users may be given separate duties as appropriate.  Granularity of permission set in a defined role is fixed.  Additional controls may be inherited from systems external to PCF.  

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Separates [Assignment: organization-defined duties of individuals];</li>
  <li>Documents separation of duties of individuals; and</li>
  <li>Defines information system access authorizations to support separation of duties.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Separation of duties addresses the potential for abuse of authorized privileges and helps to reduce the risk of malevolent activity without collusion. Separation of duties includes, for example: (i) dividing mission functions and information system support functions among different individuals and/or roles; (ii) conducting information system support functions with different individuals (e.g., system management, programming, configuration management, quality assurance and testing, and network security); and (iii) ensuring security personnel administering access control functions do not also administer audit functions.

