---
title: AC-6 LEAST PRIVILEGE
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Basic RBAC support available.  Enforcement of SOD is the responsibility of the deployer.

##<a id='details'></a>Details

PCF supports assignment of specific roles so that users may be given separate duties as appropriate.  Granularity of permission set in a defined role is fixed.  Additional controls may be inhereted from systems external to PCF.  

<hr>

##<a id='description'></a>Control Description

The organization employs the principle of least privilege, allowing only authorized accesses for users (or processes acting on behalf of users) which are necessary to accomplish assigned tasks in accordance with organizational missions and business functions.

##<a id='supplemental'></a>Supplemental Guidance

Organizations employ least privilege for specific duties and information systems. The principle of least privilege is also applied to information system processes, ensuring that the processes operate at privilege levels no higher than necessary to accomplish required organizational missions/business functions. Organizations consider the creation of additional processes, roles, and information system accounts as necessary, to achieve least privilege. Organizations also apply least privilege to the development, implementation, and operation of organizational information systems.

