---
title: AC-7 UNSUCCESSFUL LOGON ATTEMPTS
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a> VMware Tanzu Application Service Compliance

In Tanzu Application Service (TAS for VMs), the UAA component delegates these responsibilities to the enterprise identity manangement system (IdM). Lockout of users following too many failed authentication attempts is inherited from the enterprise IdM. In the case of BOSH SSH, users must have previously authenticated via UAA, and the SSH login uses a BOSH-managed private key.
<hr>

##<a id='description'></a>Control Description

The information system:

<ol type="a">
  <li>Enforces a limit of [Assignment: organization-defined number] consecutive invalid logon attempts by a user during a [Assignment: organization-defined time period]; and</li>
  <li>Automatically [Selection: locks the account/node for an [Assignment: organization-defined time period]; locks the account/node until released by an administrator; delays next logon prompt according to [Assignment: organization-defined delay algorithm]] when the maximum number of unsuccessful attempts is exceeded.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

This control applies regardless of whether the logon occurs via a local or network connection. Due to the potential for denial of service, automatic lockouts initiated by information systems are usually temporary and automatically release after a predetermined time period established by organizations. If a delay algorithm is selected, organizations may choose to employ different algorithms for different information system components based on the capabilities of those components. Responses to unsuccessful logon attempts may be implemented at both the operating system and the application levels.
