---
title: AC-8 SYSTEM USE NOTIFICATION
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Compliant

##<a id='details'></a>Details

Via BOSH Add-on

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Displays to users [Assignment: organization-defined system use notification message or banner] before granting access to the system that provides privacy and security notices consistent with applicable federal laws, Executive Orders, directives, policies, regulations, standards, and guidance and states that:</li>
  <ol>
    <li>Users are accessing a U.S. Government information system;</li>
    <li>Information system usage may be monitored, recorded, and subject to audit;</li>
    <li>Unauthorized use of the information system is prohibited and subject to criminal and civil penalties; and</li>
    <li>Use of the information system indicates consent to monitoring and recording;</li>
  </ol>
  <li>Retains the notification message or banner on the screen until users acknowledge the usage conditions and take explicit actions to log on to or further access the information system; and</li>
  <li>For publicly accessible systems:</li>
  <ol>
    <li>Displays system use information [Assignment: organization-defined conditions], before granting further access;</li>
    <li>Displays references, if any, to monitoring, recording, or auditing that are consistent with privacy accommodations for such systems that generally prohibit those activities; and</li>
    <li>Includes a description of the authorized uses of the system.</li>
  </ol>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

System use notifications can be implemented using messages or warning banners displayed before individuals log in to information systems. System use notifications are used only for access via logon interfaces with human users and are not required when such human interfaces do not exist. Organizations consider system use notification messages/banners displayed in multiple languages based on specific organizational needs and the demographics of information system users. Organizations also consult with the Office of the General Counsel for legal review and approval of warning banner content.

