---
title: AC - Access Control Control Family
owner: Security
---

<strong><%= modified_date %></strong>


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./ac-1.html">AC-1</a></td>
    <td>ACCESS CONTROL POLICY AND PROCEDURES</td>
    <td>Inherited and compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-2.html">AC-2</a></td>
    <td>ACCOUNT MANAGEMENT</td>
    <td>Deployer Responsibility</td>
  </tr>
  <tr>
    <td><a href="./ac-3.html">AC-3</a></td>
    <td>ACCESS ENFORCEMENT</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-4.html">AC-4</a></td>
    <td>INFORMATION FLOW ENFORCEMENT</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-5.html">AC-5</a></td>
    <td>SEPARATION OF DUTIES</td>
    <td>Deployer Responsibility</td>
  </tr>
  <tr>
    <td><a href="./ac-6.html">AC-6</a></td>
    <td>LEAST PRIVILEGE</td>
    <td>Deployer Responsibility</td>
  </tr>
  <tr>
    <td><a href="./ac-7.html">AC-7</a></td>
    <td>UNSUCCESSFUL LOGON ATTEMPTS</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ac-8.html">AC-8</a></td>
    <td>SYSTEM USE NOTIFICATION</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-9.html">AC-9</a></td>
    <td>PREVIOUS LOGON (ACCESS) NOTIFICATION</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ac-10.html">AC-10</a></td>
    <td>CONCURRENT SESSION CONTROL</td>
    <td>Not required for FISMA moderate</td>
  </tr>
  <tr>
    <td><a href="./ac-11.html">AC-11</a></td>
    <td>SESSION LOCK</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./ac-12.html">AC-12</a></td>
    <td>SESSION TERMINATION</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-14.html">AC-14</a></td>
    <td>PERMITTED ACTIONS WITHOUT IDENTIFICATION OR AUTHENTICATION</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-16.html">AC-16</a></td>
    <td>SECURITY ATTRIBUTES</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./ac-17.html">AC-17</a></td>
    <td>REMOTE ACCESS</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-18.html">AC-18</a></td>
    <td>WIRELESS ACCESS</td>
    <td>Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-19.html">AC-19</a></td>
    <td>ACCESS CONTROL FOR MOBILE DEVICES</td>
    <td>Not Applicable to Tanzu Application Service</td>
  </tr>
  <tr>
    <td><a href="./ac-20.html">AC-20</a></td>
    <td>USE OF EXTERNAL INFORMATION SYSTEMS</td>
    <td>Deployer Responsibility</td>
  </tr>
  <tr>
    <td><a href="./ac-21.html">AC-21</a></td>
    <td>INFORMATION SHARING</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-22.html">AC-22</a></td>
    <td>PUBLICLY ACCESSIBLE CONTENT</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./ac-23.html">AC-23</a></td>
    <td>DATA MINING PROTECTION</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./ac-24.html">AC-24</a></td>
    <td>ACCESS CONTROL DECISIONS</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./ac-25.html">AC-25</a></td>
    <td>REFERENCE MONITOR</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
</table>