---
title: Personnel Security Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./ps-1.html">PS-1</a></td>
    <td>PERSONNEL SECURITY POLICY AND PROCEDURES</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ps-2.html">PS-2</a></td>
    <td>POSITION RISK DESIGNATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ps-3.html">PS-3</a></td>
    <td>PERSONNEL SCREENING</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ps-4.html">PS-4</a></td>
    <td>PERSONNEL TERMINATION</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ps-5.html">PS-5</a></td>
    <td>PERSONNEL TRANSFER</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ps-6.html">PS-6</a></td>
    <td>ACCESS AGREEMENTS</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ps-7.html">PS-7</a></td>
    <td>THIRD-PARTY PERSONNEL SECURITY</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="./ps-8.html">PS-8</a></td>
    <td>PERSONNEL SANCTIONS</td>
    <td></td>
  </tr>
</table>