---
title: PS-2 POSITION RISK DESIGNATION
owner: Security
---

<strong><%= modified_date %></strong>


##<a id='compliance'></a>PCF Compliance

Compliance with the requirements defined in this control are a deployer responsibility.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Assigns a risk designation to all organizational positions;</li>
  <li>Establishes screening criteria for individuals filling those positions; and</li>
  <li>Reviews and updates position risk designations [Assignment: organization-defined frequency].</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Position risk designations reflect Office of Personnel Management policy and guidance. Risk designations can guide and inform the types of authorizations individuals receive when accessing organizational information and information systems. Position screening criteria include explicit information security role appointment requirements (e.g., training, security clearances).
