---
title: PS-5 PERSONNEL TRANSFER
owner: Security
---

##<a id='compliance'></a>PCF Compliance

##<a id='details'></a>Details

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Reviews and confirms ongoing operational need for current logical and physical access authorizations to information systems/facilities when individuals are reassigned or transferred to other positions within the organization;</li>
  <li>Initiates [Assignment: organization-defined transfer or reassignment actions] within [Assignment: organization-defined time period following the formal transfer action];</li>
  <li>Modifies access authorization as needed to correspond with any changes in operational need due to reassignment or transfer; and</li>
  <li>Notifies [Assignment: organization-defined personnel or roles] within [Assignment: organization-defined time period].</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

This control applies when reassignments or transfers of individuals are permanent or of such extended durations as to make the actions warranted. Organizations define actions appropriate for the types of reassignments or transfers, whether permanent or extended. Actions that may be required for personnel transfers or reassignments to other positions within organizations include, for example: (i) returning old and issuing new keys, identification cards, and building passes; (ii) closing information system accounts and establishing new accounts; (iii) changing information system access authorizations (i.e., privileges); and (iv) providing for access to official records to which individuals had access at previous work locations and in previous information system accounts.
