---
title: PS-7 THIRD-PARTY PERSONNEL SECURITY
owner: Security
---

##<a id='compliance'></a>PCF Compliance

Compliance with the requirements defined in this control are a deployer responsibility.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Establishes personnel security requirements including security roles and responsibilities for third-party providers;</li>
  <li>Requires third-party providers to comply with personnel security policies and procedures established by the organization;</li>
  <li>Documents personnel security requirements;</li>
  <li>Requires third-party providers to notify [Assignment: organization-defined personnel or roles] of any personnel transfers or terminations of third-party personnel who possess organizational credentials and/or badges, or who have information system privileges within [Assignment: organization-defined time period]; and</li>
  <li>Monitors provider compliance.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Third-party providers include, for example, service bureaus, contractors, and other organizations providing information system development, information technology services, outsourced applications, and network and security management. Organizations explicitly include personnel security requirements in acquisition-related documents. Third-party providers may have personnel working at organizational facilities with credentials, badges, or information system privileges issued by organizations. Notifications of third-party personnel changes ensure appropriate termination of privileges and credentials. Organizations define the transfers and terminations deemed reportable by security-related characteristics that include, for example, functions, roles, and nature of credentials/privileges associated with individuals transferred or terminated.
