---
title: MP - Media Protection Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
  </tr>
  <tr>
    <td><a href="./mp-1.html">MP-1</a></td>
    <td>MEDIA PROTECTION POLICY AND PROCEDURES</td>
  </tr>
  <tr>
    <td><a href="./mp-2.html">MP-2</a></td>
    <td>MEDIA ACCESS</td>
  </tr>
  <tr>
    <td><a href="./mp-3.html">MP-3</a></td>
    <td>MEDIA MARKING</td>
  </tr>
  <tr>
    <td><a href="./mp-4.html">MP-4</a></td>
    <td>MEDIA STORAGE</td>
  </tr>
  <tr>
    <td><a href="./mp-5.html">MP-5</a></td>
    <td>MEDIA TRANSPORT</td>
  </tr>
  <tr>
    <td><a href="./mp-6.html">MP-6</a></td>
    <td>MEDIA SANITIZATION</td>
  </tr>
  <tr>
    <td><a href="./mp-7.html">MP-7</a></td>
    <td>MEDIA USE</td>
  </tr>
  <tr>
    <td><a href="./mp-8.html">MP-8</a></td>
    <td>MEDIA DOWNGRADING</td>
  </tr>
</table>