---
title: MP-1 MEDIA PROTECTION POLICY AND PROCEDURES
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>PCF Compliance

All dash-1 requirements are the responsibility of the deployer.  Pivotal may be able to provide guidance to customers who are creating of updating documentation, but this documentation is unique to the deployer's mission and business goals.  All implied required satisfied.  PCF features are sufficient to satisfy MP-1.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops, documents, and disseminates to [Assignment: organization-defined personnel or roles]:</li>
  <ol>
    <li>A media protection policy that addresses purpose, scope, roles, responsibilities, management commitment, coordination among organizational entities, and compliance; and</li>
    <li>Procedures to facilitate the implementation of the media protection policy and associated media protection controls; and</li>
  </ol>
  <li>Reviews and updates the current:</li>
  <ol>
    <li>Media protection policy [Assignment: organization-defined frequency]; and</li>
    <li>Media protection procedures [Assignment: organization-defined frequency].</li>
  </ol>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

This control addresses the establishment of policy and procedures for the effective implementation of selected security controls and control enhancements in the MP family. Policy and procedures reflect applicable federal laws, Executive Orders, directives, regulations, policies, standards, and guidance. Security program policies and procedures at the organization level may make the need for system-specific policies and procedures unnecessary. The policy can be included as part of the general information security policy for organizations or conversely, can be represented by multiple policies reflecting the complex nature of certain organizations. The procedures can be established for the security program in general and for particular information systems, if needed. The organizational risk management strategy is a key factor in establishing policy and procedures.
