---
title: CP-10 INFORMATION SYSTEM RECOVERY AND RECONSTITUTION
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with this requirement is the responsibility of the Tanzu Application Service (TAS for VMs) deployer.

TAS for VMs supports system recovery and reconstitution through the BOSH Backup and Restore tool. For more information, see [Backing Up Deployments with BBR](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-backup-pcf-bbr.html) tool.

<hr>

##<a id='description'></a>Control Description

The organization provides for the recovery and reconstitution of the information system to a known state after a disruption, compromise, or failure.

##<a id='supplemental'></a>Supplemental Guidance

Recovery is executing information system contingency plan activities to restore organizational missions/business functions. Reconstitution takes place following recovery and includes activities for returning organizational information systems to fully operational states. Recovery and reconstitution operations reflect mission and business priorities, recovery point/time and reconstitution objectives, and established organizational metrics consistent with contingency plan requirements. Reconstitution includes the deactivation of any interim information system capabilities that may have been needed during recovery operations. Reconstitution also includes assessments of fully restored information system capabilities, reestablishment of continuous monitoring activities, potential information system reauthorizations, and activities to prepare the systems against future disruptions, compromises, or failures. Recovery/reconstitution capabilities employed by organizations can include both automated mechanisms and manual procedures.
