---
title: CP-2 CONTINGENCY PLAN
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with this requirement is the responsibility of the Tanzu Application Service (TAS for VMs) deployer.

Contingency plans can incorporate:

* The BOSH Backup and Restore tool to recover TAS for VMs deployments. See [Backing up Deployments with BBR](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/6.0/vmware-tanzu-ops-manager/install-backup-restore-backup-pcf-bbr.html)

* The [Concourse](https://docs.vmware.com/en/Concourse-for-VMware-Tanzu/index.html) continuous integration and continuous delivery (CI/CD) tool to automatically rebuild and run tests on TAS for VMs deployments.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Develops a contingency plan for the information system that:</li>
  <ol>
    <li>Identifies essential missions and business functions and associated contingency requirements;</li>
    <li>Provides recovery objectives, restoration priorities, and metrics;</li>
    <li>Addresses contingency roles, responsibilities, assigned individuals with contact information;</li>
    <li>Addresses maintaining essential missions and business functions despite an information system disruption, compromise, or failure;</li>
    <li>Addresses eventual, full information system restoration without deterioration of the security safeguards originally planned and implemented; and</li>
    <li>Is reviewed and approved by [Assignment: organization-defined personnel or roles];</li>
  </ol>
  <li>Distributes copies of the contingency plan to [Assignment: organization-defined key contingency personnel (identified by name and/or by role) and organizational elements];</li>
  <li>Coordinates contingency planning activities with incident handling activities;</li>
  <li>Reviews the contingency plan for the information system [Assignment: organization-defined frequency];</li>
  <li>Updates the contingency plan to address changes to the organization, information system, or environment of operation and problems encountered during contingency plan implementation, execution, or testing;</li>
  <li>Communicates contingency plan changes to [Assignment: organization-defined key contingency personnel (identified by name and/or by role) and organizational elements]; and</li>
  <li>Protects the contingency plan from unauthorized disclosure and modification.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Contingency planning for information systems is part of an overall organizational program for achieving continuity of operations for mission/business functions. Contingency planning addresses both information system restoration and implementation of alternative mission/business processes when systems are compromised. The effectiveness of contingency planning is maximized by considering such planning throughout the phases of the system development life cycle. Performing contingency planning on hardware, software, and firmware development can be an effective means of achieving information system resiliency. Contingency plans reflect the degree of restoration required for organizational information systems since not all systems may need to fully recover to achieve the level of continuity of operations desired. Information system recovery objectives reflect applicable laws, Executive Orders, directives, policies, standards, regulations, and guidelines. In addition to information system availability, contingency plans also address other security-related events resulting in a reduction in mission and/or business effectiveness, such as malicious attacks compromising the confidentiality or integrity of information systems. Actions addressed in contingency plans include, for example, orderly/graceful degradation, information system shutdown, fallback to a manual mode, alternate information flows, and operating in modes reserved for when systems are under attack. By closely coordinating contingency planning with incident handling activities, organizations can ensure that the necessary contingency planning activities are in place and activated in the event of a security incident.
