---
title: CP-6 ALTERNATE STORAGE SITE
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

When deployed in accordance with the reference architecture, Tanzu Application Service (TAS for VMs) is compliant with this requirement. If the infrastructure supports it, PAS can operate across multiple availability zones (AZs). Applications deployed to the platform inherit this redundancy across availability zones.

TAS for VMs applications store their data by binding to data services, and whether these data are stored in multiple sites depends on how these services are configured.

A contingency plan can support an alternate storage site for TAS for VMs using the BOSH Backup and Restore tool to recover TAS for VMs deployments. See [Backing Up Deployments with BBR](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-backup-pcf-bbr.html).

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Establishes an alternate storage site including necessary agreements to permit the storage and retrieval of information system backup information; and</li>
  <li>Ensures that the alternate storage site provides information security safeguards equivalent to that of the primary site.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

Alternate storage sites are sites that are geographically distinct from primary storage sites. An alternate storage site maintains duplicate copies of information and data in the event that the primary storage site is not available. Items covered by alternate storage site agreements include, for example, environmental conditions at alternate sites, access rules, physical and environmental protection requirements, and coordination of delivery/retrieval of backup media. Alternate storage sites reflect the requirements in contingency plans so that organizations can maintain essential missions/business functions despite disruption, compromise, or failure in organizational information systems.
