---
title: CP-7 ALTERNATE PROCESSING SITE
owner: Security
---

##<a id='compliance'></a>PCF Compliance

When deployed in accordance with the reference architecture, PCF is compliant with this requirement. If the infrastructure supports it, PAS can operate across multiple availability zones (AZs). Applications deployed to the platform inherit this redundancy across availability zones.

Note that BOSH and Ops Manager are deployed to a single AZ, but any unplanned downtime of these management plane components does not impact application availability.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Establishes an alternate processing site including necessary agreements to permit the transfer and resumption of [Assignment: organization-defined information system operations] for essential missions/business functions within [Assignment: organization-defined time period consistent with recovery time and recovery point objectives] when the primary processing capabilities are unavailable;</li>
  <li>Ensures that equipment and supplies required to transfer and resume operations are available at the alternate processing site or contracts are in place to support delivery to the site within the organization-defined time period for transfer/resumption; and</li>
  <li>Ensures that the alternate processing site provides information security safeguards equivalent to those of the primary site.</li>
</ol>					 

##<a id='supplemental'></a>Supplemental Guidance

Alternate processing sites are sites that are geographically distinct from primary processing sites. An alternate processing site provides processing capability in the event that the primary processing site is not available. Items covered by alternate processing site agreements include, for example, environmental conditions at alternate sites, access rules, physical and environmental protection requirements, and coordination for the transfer/assignment of personnel. Requirements are specifically allocated to alternate processing sites that reflect the requirements in contingency plans to maintain essential missions/business functions despite disruption, compromise, or failure in organizational information systems.
