---
title: CP-9 INFORMATION SYSTEM BACKUP
owner: Security
---

<strong><%= modified_date %></strong>

##<a id='compliance'></a>VMware Tanzu Application Service Compliance

Compliance with this requirement is the responsibility of the Tanzu Application Service (TAS for VMs) deployer.

TAS for VMs provides system backup support through the BOSH Backup and Restore tool. For more information, see [Backing Up Deployments with BBR](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-backup-pcf-bbr.html) tool.

<hr>

##<a id='description'></a>Control Description

The organization:

<ol type="a">
  <li>Conducts backups of user-level information contained in the information system [Assignment: organization-defined frequency consistent with recovery time and recovery point objectives];</li>
  <li>Conducts backups of system-level information contained in the information system [Assignment: organization-defined frequency consistent with recovery time and recovery point objectives];</li>
  <li>Conducts backups of information system documentation including security-related documentation [Assignment: organization-defined frequency consistent with recovery time and recovery point objectives]; and</li>
  <li>Protects the confidentiality, integrity, and availability of backup information at storage locations.</li>
</ol>

##<a id='supplemental'></a>Supplemental Guidance

System-level information includes, for example, system-state information, operating system and application software, and licenses. User-level information includes any information other than system-level information. Mechanisms employed by organizations to protect the integrity of information system backups include, for example, digital signatures and cryptographic hashes. Protection of system backup information while in transit is beyond the scope of this control. Information system backups reflect the requirements in contingency plans as well as other organizational requirements for backing up information.
