---
title: CP - Contingency Planning Control Family
owner: Security
---


<table border="1" class="nice" >
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Control</strong></th>
    <th><strong>Pivotal Application Service (PAS) Compliance</strong></th>
  </tr>
  <tr>
    <td><a href="./cp-1.html">CP-1</a></td>
    <td>CONTINGENCY PLANNING POLICY AND PROCEDURES</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cp-2.html">CP-2</a></td>
    <td>CONTINGENCY PLAN</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cp-3.html">CP-3</a></td>
    <td>CONTINGENCY TRAINING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cp-4.html">CP-4</a></td>
    <td>CONTINGENCY PLAN TESTING</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cp-5.html">CP-5</a></td>
    <td>CONTINGENCY PLAN UPDATE</td>
    <td>[Withdrawn: Incorporated into CP-2]</td>
  </tr>
  <tr>
    <td><a href="./cp-6.html">CP-6</a></td>
    <td>ALTERNATE STORAGE SITE</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cp-7.html">CP-7</a></td>
    <td>ALTERNATE PROCESSING SITE</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cp-8.html">CP-8</a></td>
    <td>TELECOMMUNICATIONS SERVICES</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cp-9.html">CP-9</a></td>
    <td>INFORMATION SYSTEM BACKUP</td>
    <td>Inherited and Compliant</td>
  </tr>
  <tr>
    <td><a href="./cp-10.html">CP-10</a></td>
    <td>INFORMATION SYSTEM RECOVERY AND RECONSTITUTION</td>
    <td>Inherited</td>
  </tr>
  <tr>
    <td><a href="./cp-11.html">CP-11</a></td>
    <td>ALTERNATE COMMUNICATIONS PROTOCOLS</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./cp-12.html">CP-12</a></td>
    <td>SAFE MODE</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
  <tr>
    <td><a href="./cp-13.html">CP-13</a></td>
    <td>ALTERNATIVE SECURITY MECHANISMS</td>
    <td>P0, so not required for FISMA Moderate</td>
  </tr>
</table>